<h1><%= t 'views.orderinshorts.index.listing_orderinshorts' %></h1>

<table>
  <tr>
    <th><%= t 'views.orderinshorts.index.custname' %></th>
    <th><%= t 'views.orderinshorts.index.custtel' %></th>
    <th><%= t 'views.orderinshorts.index.pid' %></th>
    <th><%= t 'views.orderinshorts.index.amount' %></th>
    <th><%= t 'views.orderinshorts.index.oid' %></th>
    <th><%= t 'views.orderinshorts.index.cdate' %></th>
    <th><%= t 'views.orderinshorts.index.stockamount' %></th>
  </tr>

<% @orderinshorts.each do |orderinshort| %>
  <tr>
    <td><%= orderinshort.custname %></td>
    <td><%= orderinshort.custtel %></td>
    <td><%= orderinshort.pid %></td>
    <td><%= orderinshort.amount %></td>
    <td><%= orderinshort.oid %></td>
    <td><%= orderinshort.cdate %></td>
    <td><%= orderinshort.stockamount %></td>
  </tr>
<% end %>
</table>
<br />
<%= paginate @orderinshorts, :window => 2 %>
<br />

