<p id="notice"><%= notice %></p>

<p>
  <b><%= t 'views.contactpayments.index.stid' %>:</b>
  <%= @contactpayment.stid %>
</p>

<p>
  <b><%= t 'views.contactpayments.index.stname' %>:</b>
  <%= @contactpayment.stname %>
</p>

<p>
  <b><%= t 'views.contactpayments.index.custid' %>:</b>
  <%= @contactpayment.custid %>
</p>

<p>
  <b><%= t 'views.contactpayments.index.custname' %>:</b>
  <%= @contactpayment.custname %>
</p>

<p>
  <b><%= t 'views.contactpayments.index.outmoney' %>:</b>
  <%= @contactpayment.outmoney %>
</p>

<p>
  <b><%= t 'views.contactpayments.index.inmoney' %>:</b>
  <%= @contactpayment.inmoney %>
</p>

<p>
  <b><%= t 'views.contactpayments.index.strike' %>:</b>
  <%= @contactpayment.strike %>
</p>

<p>
  <b><%= t 'views.contactpayments.index.method' %>:</b>
  <%= @contactpayment.method %>
</p>

<p>
  <b><%= t 'views.contactpayments.index.proof' %>:</b>
  <%= @contactpayment.proof %>
</p>

<p>
  <b><%= t 'views.contactpayments.index.ticketid' %>:</b>
  <%= @contactpayment.ticketid %>
</p>

<p>
  <b><%= t 'views.contactpayments.index.cdate' %>:</b>
  <%= @contactpayment.cdate %>
</p>

<p>
  <b><%= t 'views.contactpayments.index.status' %>:</b>
  <%= @contactpayment.status %>
</p>

<p>
  <b><%= t 'views.contactpayments.index.remark' %>:</b>
  <%= @contactpayment.remark %>
</p>


<%= link_to t('views.edit'), edit_contactpayment_path(@contactpayment) %> |
<%= link_to t('views.back'), contactpayments_path %>
