<h1><%= t 'views.orderstates.index.listing_orderstates' %></h1>

<table>
  <tr>
    <th><%= t 'views.orderstates.index.type' %></th>
    <th><%= t 'views.orderstates.index.payment' %></th>
    <th><%= t 'views.orderstates.index.amount' %></th>
    <th><%= t 'views.orderstates.index.value' %></th>
  </tr>

<% @orderstates.each do |orderstate| %>
  <tr>
    <td><%= orderstate.type %></td>
    <td><%= orderstate.payment %></td>
    <td><%= orderstate.amount %></td>
    <td><%= orderstate.value %></td>
  </tr>
<% end %>
</table>
<br />
<%= paginate @orderstates, :window => 2 %>
<br />

