<h1><%= t 'views.stores.index.listing_stores' %></h1>

<table>
  <tr>
    <th><%= t 'views.stores.index.stid' %></th>
    <th><%= t 'views.stores.index.stname' %></th>
    <th><%= t 'views.stores.index.staddress' %></th>
    <th><%= t 'views.stores.index.starea' %></th>
    <th><%= t 'views.stores.index.sttel' %></th>
    <th><%= t 'views.stores.index.cdate' %></th>
    <th><%= t 'views.stores.index.remark' %></th>
    <th colspan="3"><%= t 'views.operation' %></th>
  </tr>

<% @stores.each do |store| %>
  <tr>
    <td><%= store.stid %></td>
    <td><%= store.stname %></td>
    <td><%= store.staddress %></td>
    <td><%= store.starea %></td>
    <td><%= store.sttel %></td>
    <td><%= store.cdate %></td>
    <td><%= store.remark %></td>
    <td><%= link_to t('views.show'), store %></td>
    <td><%= link_to t('views.edit'), edit_store_path(store) %></td>
    <td><%= link_to t('views.destroy'), store, method: :delete, data: { confirm: t('views.are_you_sure') } %></td>
  </tr>
<% end %>
</table>

<br />
<%= paginate @stores, :window => 2 %>

<br />

<%= link_to t('views.stores.index.new_stores'), new_store_path %>
