<%= form_for(@store) do |f| %>
  <% if @store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
      <% @store.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t('views.stores.index.stid') %>:<br />
    <%= f.text_field :stid %>
  </div>
  <div class="field">
    <%= f.label t('views.stores.index.stname') %>:<br />
    <%= f.text_field :stname %>
  </div>
  <div class="field">
    <%= f.label t('views.stores.index.staddress') %>:<br />
    <%= f.text_field :staddress %>
  </div>
  <div class="field">
    <%= f.label t('views.stores.index.starea') %>:<br />
    <%= f.text_field :starea %>
  </div>
  <div class="field">
    <%= f.label t('views.stores.index.sttel') %>:<br />
    <%= f.text_field :sttel %>
  </div>
  <div class="field">
    <%= f.label t('views.stores.index.cdate') %>:<br />
    <%= f.date_select :cdate, :order => [:year,:month,:day]  %>
  </div>
  <div class="field">
    <%= f.label t('views.stores.index.remark') %>:<br />
    <%= f.text_area :remark %>
  </div>
  <div class="actions">
    <%= f.submit t('views.submit') %>
  </div>
<% end %>
