<h1><%= t 'views.buylogs.index.listing_buylogs' %></h1>

<table>
  <tr>
    <th><%= t 'views.buylogs.index.uid' %></th>
    <th><%= t 'views.buylogs.index.uname' %></th>
    <th><%= t 'views.buylogs.index.utel' %></th>
    <th><%= t 'views.buylogs.index.cpbh' %></th>
    <th><%= t 'views.buylogs.index.cpmc' %></th>
    <th><%= t 'views.buylogs.index.ys' %></th>
    <th><%= t 'views.buylogs.index.sl' %></th>
    <th><%= t 'views.buylogs.index.js' %></th>
    <th><%= t 'views.buylogs.index.dj' %></th>
    <th><%= t 'views.buylogs.index.yfbz' %></th>
    <th><%= t 'views.buylogs.index.xj' %></th>
    <th><%= t 'views.buylogs.index.tj' %></th>
    <th><%= t 'views.buylogs.index.bz' %></th>
    <th><%= t 'views.buylogs.index.cdate' %></th>
    <th><%= t 'views.buylogs.index.remark' %></th>
    <th colspan="3"><%= t 'views.operation' %></th>
  </tr>

<% @buylogs.each do |buylog| %>
  <tr>
    <td><%= buylog.uid %></td>
    <td><%= buylog.uname %></td>
    <td><%= buylog.utel %></td>
    <td><%= buylog.cpbh %></td>
    <td><%= buylog.cpmc %></td>
    <td><%= buylog.ys %></td>
    <td><%= buylog.sl %></td>
    <td><%= buylog.js %></td>
    <td><%= buylog.dj %></td>
    <td><%= buylog.yfbz %></td>
    <td><%= buylog.xj %></td>
    <td><%= buylog.tj %></td>
    <td><%= buylog.bz %></td>
    <td><%= buylog.cdate %></td>
    <td><%= buylog.remark %></td>
    <td><%= link_to t('views.show'), buylog %></td>
    <td><%= link_to t('views.edit'), edit_buylog_path(buylog) %></td>
    <td><%= link_to t('views.destroy'), buylog, method: :delete, data: { confirm: t('views.are_you_sure') } %></td>
  </tr>
<% end %>
</table>
<br />
<%= paginate @buylogs, :window => 2 %>
<br />

<%= link_to t('views.buylogs.index.new_buylogs'), new_buylog_path %>
