<p id="notice"><%= notice %></p>

<p>
  <b>Uid:</b>
  <%= @buylog.uid %>
</p>

<p>
  <b>Uname:</b>
  <%= @buylog.uname %>
</p>

<p>
  <b>Utel:</b>
  <%= @buylog.utel %>
</p>

<p>
  <b>Cpbh:</b>
  <%= @buylog.cpbh %>
</p>

<p>
  <b>Cpmc:</b>
  <%= @buylog.cpmc %>
</p>

<p>
  <b>Ys:</b>
  <%= @buylog.ys %>
</p>

<p>
  <b>Sl:</b>
  <%= @buylog.sl %>
</p>

<p>
  <b>Js:</b>
  <%= @buylog.js %>
</p>

<p>
  <b>Dj:</b>
  <%= @buylog.dj %>
</p>

<p>
  <b>Yfbz:</b>
  <%= @buylog.yfbz %>
</p>

<p>
  <b>Xj:</b>
  <%= @buylog.xj %>
</p>

<p>
  <b>Tj:</b>
  <%= @buylog.tj %>
</p>

<p>
  <b>Bz:</b>
  <%= @buylog.bz %>
</p>

<p>
  <b>Cdate:</b>
  <%= @buylog.cdate %>
</p>

<p>
  <b>Remark:</b>
  <%= @buylog.remark %>
</p>


<%= link_to t('views.edit'), edit_buylog_path(@buylog) %> |
<%= link_to t('views.back'), buylogs_path %>
