<p id="notice"><%= notice %></p>

<p>
  <b><%= t 'views.buylogs.index.uid' %>:</b>
  <%= @buylog.uid %>
</p>

<p>
  <b><%= t 'views.buylogs.index.uname' %>:</b>
  <%= @buylog.uname %>
</p>

<p>
  <b><%= t 'views.buylogs.index.utel' %>:</b>
  <%= @buylog.utel %>
</p>

<p>
  <b><%= t 'views.buylogs.index.cpbh' %>:</b>
  <%= @buylog.cpbh %>
</p>

<p>
  <b><%= t 'views.buylogs.index.cpmc' %>:</b>
  <%= @buylog.cpmc %>
</p>

<p>
  <b><%= t 'views.buylogs.index.ys' %>:</b>
  <%= @buylog.ys %>
</p>

<p>
  <b><%= t 'views.buylogs.index.sl' %>:</b>
  <%= @buylog.sl %>
</p>

<p>
  <b><%= t 'views.buylogs.index.js' %>:</b>
  <%= @buylog.js %>
</p>

<p>
  <b><%= t 'views.buylogs.index.dj' %>:</b>
  <%= @buylog.dj %>
</p>

<p>
  <b><%= t 'views.buylogs.index.yfbz' %>:</b>
  <%= @buylog.yfbz %>
</p>

<p>
  <b><%= t 'views.buylogs.index.xj' %>:</b>
  <%= @buylog.xj %>
</p>

<p>
  <b><%= t 'views.buylogs.index.tj' %>:</b>
  <%= @buylog.tj %>
</p>

<p>
  <b><%= t 'views.buylogs.index.bz' %>:</b>
  <%= @buylog.bz %>
</p>

<p>
  <b><%= t 'views.buylogs.index.cdate' %>:</b>
  <%= @buylog.cdate %>
</p>

<p>
  <b><%= t 'views.buylogs.index.remark' %>:</b>
  <%= @buylog.remark %>
</p>


<%= link_to t('views.edit'), edit_buylog_path(@buylog) %> |
<%= link_to t('views.back'), buylogs_path %>
