<p>
  <b><%= t('.teller') %>:</b>
  <%= @order.teller %>
</p>
<p>----------------------------------------------------------------------------------------------------------------------------------------------</p>
<p>
  <b><%= t('.name') %>:</b>
  <%= @order.name %>
</p>

<p>
  <b><%= t('.cell_phone') %>:</b>
  <%= @order.cell_phone %>
</p>

<p>
  <b><%= t('.address_html') %>:</b>
  <%= @order.address %>
</p>

<p>
  <b><%= t('.email') %>:</b>
  <%= @order.email %>
</p>
<p>----------------------------------------------------------------------------------------------------------------------------------------------</p>
<p>
  <b><%= t('.level') %>:</b>
  <%= @order.level %>
</p>

<p>
  <b><%= t('.pay_type') %>:</b>
  <%= @order.pay_type %>
</p>

<p>
  <b><%= t('.discount') %>:</b>
  <%= @order.discount %>
</p>

<p>
  <b><%= t('.integration') %>:</b>
  <%= @order.integration %>
</p>
<p>----------------------------------------------------------------------------------------------------------------------------------------------</p>
<p>
  <b><%= t('.note') %>:</b>
  <%= @order.note %>
</p>


<%= link_to t('.edit'), edit_order_path(@order) %> |
<%= link_to t('.back'), orders_path %>
