<%= form_for(@shipper) do |f| %>
  <% if @shipper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shipper.errors.count, "error") %> prohibited this shipper from being saved:</h2>

      <ul>
      <% @shipper.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t('views.shippers.index.sid') %><br />
    <%= f.text_field :sid %>
  </div>
  <div class="field">
    <%= f.label t('views.shippers.index.sname') %><br />
    <%= f.text_field :sname %>
  </div>
  <div class="field">
    <%= f.label t('views.shippers.index.tel') %><br />
    <%= f.text_field :tel %>
  </div>
  <div class="field">
    <%= f.label t('views.shippers.index.address') %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label t('views.shippers.index.custid') %><br />
    <%= f.text_field :custid %>
  </div>
  <div class="field">
    <%= f.label t('views.shippers.index.custname') %><br />
    <%= f.text_field :custname %>
  </div>
  <div class="field">
    <%= f.label t('views.shippers.index.custtel') %><br />
    <%= f.text_field :custtel %>
  </div>
  <div class="field">
    <%= f.label t('views.shippers.index.cdate') %><br />
    <%= f.date_select :cdate, :order => [:year,:month,:day] %>
  </div>
  <div class="field">
    <%= f.label t('views.shippers.index.remark') %><br />
    <%= f.text_area :remark %>
  </div>
  <div class="actions">
    <%= f.submit t('views.submit') %>
  </div>
<% end %>
