<%= form_for(@feeder) do |f| %>
  <% if @feeder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feeder.errors.count, "error") %> prohibited this feeder from being saved:</h2>

      <ul>
      <% @feeder.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t('views.feeders.index.fid') %>:<br />
    <%= f.text_field :fid %>
  </div>
  <div class="field">
    <%= f.label t('views.feeders.index.feedername') %>:<br />
    <%= f.text_field :feedername %>
  </div>
  <div class="field">
    <%= f.label t('views.feeders.index.brand') %>:<br />
    <%= f.text_field :brand %>
  </div>
  <div class="field">
    <%= f.label t('views.feeders.index.linkman') %>:<br />
    <%= f.text_field :linkman %>
  </div>
  <div class="field">
    <%= f.label t('views.feeders.index.address') %>:<br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label t('views.feeders.index.email') %>:<br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label t('views.feeders.index.qq') %>:<br />
    <%= f.text_field :qq %>
  </div>
  <div class="field">
    <%= f.label t('views.feeders.index.zipcode') %>:<br />
    <%= f.text_field :zipcode %>
  </div>
  <div class="field">
    <%= f.label t('views.feeders.index.tel') %>:<br />
    <%= f.text_field :tel %>
  </div>
  <div class="field">
    <%= f.label t('views.feeders.index.fax') %>:<br />
    <%= f.text_field :fax %>
  </div>
  <div class="field">
    <%= f.label t('views.feeders.index.cdate') %>:<br />
    <%= f.date_select :cdate, :order => [:year,:month,:day] %>
  </div>
  <div class="field">
    <%= f.label t('views.feeders.index.remark') %>:<br />
    <%= f.text_area :remark %>
  </div>
  <div class="actions">
    <%= f.submit t('views.submit') %>
  </div>
<% end %>
