<h1><%= t 'views.feeders.index.listing_feeders' %></h1>

<table>
  <tr>
    <th><%= t 'views.feeders.index.fid' %></th>
    <th><%= t 'views.feeders.index.feedername' %></th>
    <th><%= t 'views.feeders.index.brand' %></th>
    <th><%= t 'views.feeders.index.linkman' %></th>
    <th><%= t 'views.feeders.index.address' %></th>
    <th><%= t 'views.feeders.index.email' %></th>
    <th><%= t 'views.feeders.index.qq' %></th>
    <th><%= t 'views.feeders.index.zipcode' %></th>
    <th><%= t 'views.feeders.index.tel' %></th>
    <th><%= t 'views.feeders.index.fax' %></th>
    <th><%= t 'views.feeders.index.cdate' %></th>
    <th><%= t 'views.feeders.index.remark' %></th>
    <th colspan="3"><%= t 'views.operation' %></th>
  </tr>

<% @feeders.each do |feeder| %>
  <tr>
    <td><%= feeder.fid %></td>
    <td><%= feeder.feedername %></td>
    <td><%= feeder.brand %></td>
    <td><%= feeder.linkman %></td>
    <td><%= feeder.address %></td>
    <td><%= feeder.email %></td>
    <td><%= feeder.qq %></td>
    <td><%= feeder.zipcode %></td>
    <td><%= feeder.tel %></td>
    <td><%= feeder.fax %></td>
    <td><%= feeder.cdate %></td>
    <td><%= feeder.remark %></td>
    <td><%= link_to t('views.show'), feeder %></td>
    <td><%= link_to t('views.edit'), edit_feeder_path(feeder) %></td>
    <td><%= link_to t('views.destroy'), feeder, method: :delete, data: { confirm: t('views.are_you_sure') } %></td>
  </tr>
<% end %>
</table>

<br />
<%= paginate @feeders, :window => 2 %>

<br />

<%= link_to t('views.feeders.index.new_feeders'), new_feeder_path %>
