<h1><%= t 'views.stocktip.index.h1_listing_stocktips' %></h1>

<table>
  <tr>
    <th><%= t 'views.stocktip.index.pid' %></th>
    <th><%= t 'views.stocktip.index.goodsname' %></th>
    <th><%= t 'views.stocktip.index.color' %></th>
    <th><%= t 'views.stocktip.index.amount' %></th>
    <th><%= t 'views.stocktip.index.baseline' %></th>
  </tr>

<% @stocktips.each do |stocktip| %>
  <tr>
    <td><%= stocktip.pid %></td>
    <td><%= stocktip.goodsname %></td>
    <td><%= stocktip.color %></td>
    <td><%= stocktip.amount %></td>
    <td><%= stocktip.baseline %></td>
  </tr>
<% end %>
</table>
<br />
<%= paginate @stocktips, :window => 2, :remote => true %>
<br />

