<%= form_for(@orderdetail) do |f| %>
  <% if @orderdetail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@orderdetail.errors.count, "error") %> prohibited this orderdetail from being saved:</h2>

      <ul>
      <% @orderdetail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :oid %><br />
    <%= f.text_field :oid %>
  </div>
  <div class="field">
    <%= f.label :pid %><br />
    <%= f.text_field :pid %>
  </div>
  <div class="field">
    <%= f.label :barcode %><br />
    <%= f.text_field :barcode %>
  </div>
  <div class="field">
    <%= f.label :goodsname %><br />
    <%= f.text_field :goodsname %>
  </div>
  <div class="field">
    <%= f.label :size %><br />
    <%= f.text_field :size %>
  </div>
  <div class="field">
    <%= f.label :color %><br />
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label :volume %><br />
    <%= f.text_field :volume %>
  </div>
  <div class="field">
    <%= f.label :unit %><br />
    <%= f.text_field :unit %>
  </div>
  <div class="field">
    <%= f.label :inprice %><br />
    <%= f.text_field :inprice %>
  </div>
  <div class="field">
    <%= f.label :pfprice %><br />
    <%= f.text_field :pfprice %>
  </div>
  <div class="field">
    <%= f.label :hprice %><br />
    <%= f.text_field :hprice %>
  </div>
  <div class="field">
    <%= f.label :outprice %><br />
    <%= f.text_field :outprice %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.number_field :amount %>
  </div>
  <div class="field">
    <%= f.label :ramount %><br />
    <%= f.number_field :ramount %>
  </div>
  <div class="field">
    <%= f.label :bundle %><br />
    <%= f.number_field :bundle %>
  </div>
  <div class="field">
    <%= f.label :rbundle %><br />
    <%= f.number_field :rbundle %>
  </div>
  <div class="field">
    <%= f.label :discount %><br />
    <%= f.number_field :discount %>
  </div>
  <div class="field">
    <%= f.label :additional %><br />
    <%= f.text_field :additional %>
  </div>
  <div class="field">
    <%= f.label :subtotal %><br />
    <%= f.text_field :subtotal %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.number_field :status %>
  </div>
  <div class="field">
    <%= f.label :cdate %><br />
    <%= f.date_select :cdate %>
  </div>
  <div class="field">
    <%= f.label :remark %><br />
    <%= f.text_area :remark %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
