<%= form_for(@orderdetail) do |f| %>
  <% if @orderdetail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@orderdetail.errors.count, "error") %> prohibited this line_item from being saved:</h2>

      <ul>
      <% @orderdetail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :stock_id %><br />
    <%= f.number_field :stock_id %>
  </div>
  <div class="field">
    <%= f.label :cart_id %><br />
    <%= f.number_field :cart_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
