<p id="notice"><%= notice %></p>

<p>
  <b><%= t 'views.orderdetails.index.oid' %>:</b>
  <%= @orderdetail.oid %>
</p>

<p>
  <b><%= t 'views.orderdetails.index.pid' %>:</b>
  <%= @orderdetail.pid %>
</p>

<p>
  <b><%= t 'views.orderdetails.index.barcode' %>:</b>
  <%= @orderdetail.barcode %>
</p>

<p>
  <b><%= t 'views.orderdetails.index.goodsname' %>:</b>
  <%= @orderdetail.goodsname %>
</p>

<p>
  <b><%= t 'views.orderdetails.index.size' %>:</b>
  <%= @orderdetail.size %>
</p>

<p>
  <b><%= t 'views.orderdetails.index.color' %>:</b>
  <%= @orderdetail.color %>
</p>

<p>
  <b><%= t 'views.orderdetails.index.volume' %>:</b>
  <%= @orderdetail.volume %>
</p>

<p>
  <b><%= t 'views.orderdetails.index.unit' %>:</b>
  <%= @orderdetail.unit %>
</p>

<p>
  <b><%= t 'views.orderdetails.index.inprice' %>:</b>
  <%= @orderdetail.inprice %>
</p>

<p>
  <b><%= t 'views.orderdetails.index.pfprice' %>:</b>
  <%= @orderdetail.pfprice %>
</p>

<p>
  <b><%= t 'views.orderdetails.index.hprice' %>:</b>
  <%= @orderdetail.hprice %>
</p>

<p>
  <b><%= t 'views.orderdetails.index.outprice' %>:</b>
  <%= @orderdetail.outprice %>
</p>

<p>
  <b><%= t 'views.orderdetails.index.amount' %>:</b>
  <%= @orderdetail.amount %>
</p>

<p>
  <b><%= t 'views.orderdetails.index.ramount' %>:</b>
  <%= @orderdetail.ramount %>
</p>

<p>
  <b><%= t 'views.orderdetails.index.bundle' %>:</b>
  <%= @orderdetail.bundle %>
</p>

<p>
  <b><%= t 'views.orderdetails.index.rbundle' %>:</b>
  <%= @orderdetail.rbundle %>
</p>

<p>
  <b><%= t 'views.orderdetails.index.discount' %>:</b>
  <%= @orderdetail.discount %>
</p>

<p>
  <b><%= t 'views.orderdetails.index.additional' %>:</b>
  <%= @orderdetail.additional %>
</p>

<p>
  <b><%= t 'views.orderdetails.index.subtotal' %>:</b>
  <%= @orderdetail.subtotal %>
</p>

<p>
  <b><%= t 'views.orderdetails.index.status' %>:</b>
  <%= @orderdetail.status %>
</p>

<p>
  <b><%= t 'views.orderdetails.index.cdate' %>:</b>
  <%= @orderdetail.cdate %>
</p>

<p>
  <b><%= t 'views.orderdetails.index.remark' %>:</b>
  <%= @orderdetail.remark %>
</p>


<%= link_to t('views.edit'), edit_orderdetail_path(@orderdetail) %> |
<%= link_to t('views.back'), orderdetails_path %>
