<p id="notice"><%= notice %></p>

<p>
  <b>Oid:</b>
  <%= @orderdetail.oid %>
</p>

<p>
  <b>Pid:</b>
  <%= @orderdetail.pid %>
</p>

<p>
  <b>Barcode:</b>
  <%= @orderdetail.barcode %>
</p>

<p>
  <b>Goodsname:</b>
  <%= @orderdetail.goodsname %>
</p>

<p>
  <b>Size:</b>
  <%= @orderdetail.size %>
</p>

<p>
  <b>Color:</b>
  <%= @orderdetail.color %>
</p>

<p>
  <b>Volume:</b>
  <%= @orderdetail.volume %>
</p>

<p>
  <b>Unit:</b>
  <%= @orderdetail.unit %>
</p>

<p>
  <b>Inprice:</b>
  <%= @orderdetail.inprice %>
</p>

<p>
  <b>Pfprice:</b>
  <%= @orderdetail.pfprice %>
</p>

<p>
  <b>Hprice:</b>
  <%= @orderdetail.hprice %>
</p>

<p>
  <b>Outprice:</b>
  <%= @orderdetail.outprice %>
</p>

<p>
  <b>Amount:</b>
  <%= @orderdetail.amount %>
</p>

<p>
  <b>Ramount:</b>
  <%= @orderdetail.ramount %>
</p>

<p>
  <b>Bundle:</b>
  <%= @orderdetail.bundle %>
</p>

<p>
  <b>Rbundle:</b>
  <%= @orderdetail.rbundle %>
</p>

<p>
  <b>Discount:</b>
  <%= @orderdetail.discount %>
</p>

<p>
  <b>Additional:</b>
  <%= @orderdetail.additional %>
</p>

<p>
  <b>Subtotal:</b>
  <%= @orderdetail.subtotal %>
</p>

<p>
  <b>Status:</b>
  <%= @orderdetail.status %>
</p>

<p>
  <b>Cdate:</b>
  <%= @orderdetail.cdate %>
</p>

<p>
  <b>Remark:</b>
  <%= @orderdetail.remark %>
</p>


<%= link_to 'Edit', edit_orderdetail_path(@orderdetail) %> |
<%= link_to 'Back', orderdetails_path %>
