<h1><%= t 'views.productionpreferences.index.listing_productionpreferences' %></h1>

<table>
  <tr>
    <th><%= t 'views.productionpreferences.index.custstate' %></th>
    <th><%= t 'views.productionpreferences.index.pid' %></th>
    <th><%= t 'views.productionpreferences.index.goodsname' %></th>
    <th><%= t 'views.productionpreferences.index.color' %></th>
    <th><%= t 'views.productionpreferences.index.amount' %></th>
  </tr>

<% @productionpreferences.each do |productionpreference| %>
  <tr>
    <td><%= productionpreference.custstate %></td>
    <td><%= productionpreference.pid %></td>
    <td><%= productionpreference.goodsname %></td>
    <td><%= productionpreference.color %></td>
    <td><%= productionpreference.amount %></td>
  </tr>
<% end %>
</table>
<br />
<%= paginate @productionpreferences, :window => 2 %>
<br />

