<h1>Listing productionpreferences</h1>

<table>
  <tr>
    <th>Custstate</th>
    <th>Pid</th>
    <th>Goodsname</th>
    <th>Color</th>
    <th>Amount</th>
  </tr>

<% @productionpreferences.each do |productionpreference| %>
  <tr>
    <td><%= productionpreference.custstate %></td>
    <td><%= productionpreference.pid %></td>
    <td><%= productionpreference.goodsname %></td>
    <td><%= productionpreference.color %></td>
    <td><%= productionpreference.amount %></td>
  </tr>
<% end %>
</table>
<br />
<%= paginate @productionpreferences, :window => 2 %>
<br />

