<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  <%= @orderdetail.pid %>
</p>

<p>
  <b>Cart:</b>
  <%= @orderdetail.cart_id %>
</p>


<%= link_to 'Edit', edit_orderdetail_path(@line_item) %> |
<%= link_to 'Back', orderdetails_path %>
