<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t('views.users.index.uid') %>:<br />
    <%= f.text_field :uid %>
  </div>
  <div class="field">
    <%= f.label t('views.users.index.loginname') %>:<br />
    <%= f.text_field :loginname %>
  </div>
  <div class="field">
    <%= f.label t('views.users.index.password') %>:<br />
    <%= f.hashed_password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, t('views.users.index.confirm')%>:<br />
    <%= f.hashed_password_field :password_confirmation%>
  </div>
  <div class="field">
    <%= f.label t('views.users.index.uname') %>:<br />
    <%= f.text_field :uname %>
  </div>
  <div class="field">
    <%= f.label t('views.users.index.stid') %>:<br />
    <%= f.text_field :stid %>
  </div>
  <div class="field">
    <%= f.label t('views.users.index.stname') %>:<br />
    <%= f.text_field :stname %>
  </div>
  <div class="field">
    <%= f.label t('views.users.index.sex') %>:<br />
    <%= f.text_field :sex %>
  </div>
  <div class="field">
    <%= f.label t('views.users.index.age') %>:<br />
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label t('views.users.index.address') %>:<br />
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label t('views.users.index.tel') %>:<br />
    <%= f.text_field :tel %>
  </div>
  <div class="field">
    <%= f.label t('views.users.index.salari') %>:<br />
    <%= f.text_field :salari %>
  </div>
  <div class="field">
    <%= f.label t('views.users.index.position') %>:<br />
    <%= f.text_field :position %>
  </div>
  <div class="field">
    <%= f.label t('views.users.index.remark') %>:<br />
    <%= f.text_area :remark %>
  </div>
  <div class="actions">
    <%= f.submit t('views.submit') %>
  </div>
<% end %>
