<h1><%= t 'views.users.index.listing_users' %></h1>

<table>
  <tr>
    <th><%= t 'views.users.index.uid' %></th>
    <th><%= t 'views.users.index.loginname' %></th>
    <th><%= t 'views.users.index.uname' %></th>
    <th><%= t 'views.users.index.stid' %></th>
    <th><%= t 'views.users.index.stname' %></th>
    <th><%= t 'views.users.index.sex' %></th>
    <th><%= t 'views.users.index.age' %></th>
    <th><%= t 'views.users.index.password' %></th>
    <th><%= t 'views.users.index.address' %></th>
    <th><%= t 'views.users.index.tel' %></th>
    <th><%= t 'views.users.index.salari' %></th>
    <th><%= t 'views.users.index.position' %></th>
    <th><%= t 'views.users.index.cdate' %></th>
    <th><%= t 'views.users.index.remark' %></th>
    <th colspan="3"><%= t 'views.operation' %></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.uid %></td>
    <td><%= user.loginname %></td>
    <td><%= user.uname %></td>
    <td><%= user.stid %></td>
    <td><%= user.stname %></td>
    <td><%= user.sex %></td>
    <td><%= user.age %></td>
    <td><%= user.hashed_password %></td>
    <td><%= user.address %></td>
    <td><%= user.tel %></td>
    <td><%= user.salari %></td>
    <td><%= user.position %></td>
    <td><%= user.cdate %></td>
    <td><%= user.remark %></td>
    <td><%= link_to t('views.show'), user %></td>
    <td><%= link_to t('views.edit'), edit_user_path(user) %></td>
    <td><%= link_to t('views.destroy'), user, method: :delete, data: { confirm: t('views.are_you_sure') } %></td>
  </tr>
<% end %>
</table>

<br />
<%= paginate @users, :window => 2 %>

<br />

<%= link_to t('views.users.index.new_users'), new_user_path %>
