<p id="notice"><%= notice %></p>

<p>
  <b>Uid:</b>
  <%= @user.uid %>
</p>

<p>
  <b>Loginname:</b>
  <%= @user.loginname %>
</p>

<p>
  <b>Uname:</b>
  <%= @user.uname %>
</p>

<p>
  <b>Stid:</b>
  <%= @user.stid %>
</p>

<p>
  <b>Stname:</b>
  <%= @user.stname %>
</p>

<p>
  <b>Sex:</b>
  <%= @user.sex %>
</p>

<p>
  <b>Age:</b>
  <%= @user.age %>
</p>

<p>
  <b>Userpass:</b>
  <%= @user.userpass %>
</p>

<p>
  <b>Address:</b>
  <%= @user.address %>
</p>

<p>
  <b>Tel:</b>
  <%= @user.tel %>
</p>

<p>
  <b>Salari:</b>
  <%= @user.salari %>
</p>

<p>
  <b>Position:</b>
  <%= @user.position %>
</p>

<p>
  <b>Cdate:</b>
  <%= @user.cdate %>
</p>

<p>
  <b>Remark:</b>
  <%= @user.remark %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
