<p id="notice"><%= notice %></p>

<p>
  <b><%= t 'views.users.index.uid' %>:</b>
  <%= @user.uid %>
</p>

<p>
  <b><%= t 'views.users.index.loginname' %>:</b>
  <%= @user.loginname %>
</p>

<p>
  <b><%= t 'views.users.index.uname' %>:</b>
  <%= @user.uname %>
</p>

<p>
  <b><%= t 'views.users.index.stid' %>:</b>
  <%= @user.stid %>
</p>

<p>
  <b><%= t 'views.users.index.stname' %>:</b>
  <%= @user.stname %>
</p>

<p>
  <b><%= t 'views.users.index.sex' %>:</b>
  <%= @user.sex %>
</p>

<p>
  <b><%= t 'views.users.index.age' %>:</b>
  <%= @user.age %>
</p>

<p>
  <b><%= t 'views.users.index.password' %>:</b>
  <%= @user.hashed_password %>
</p>

<p>
  <b><%= t 'views.users.index.address' %>:</b>
  <%= @user.address %>
</p>

<p>
  <b><%= t 'views.users.index.tel' %>:</b>
  <%= @user.tel %>
</p>

<p>
  <b><%= t 'views.users.index.salari' %>:</b>
  <%= @user.salari %>
</p>

<p>
  <b><%= t 'views.users.index.position' %>:</b>
  <%= @user.position %>
</p>

<p>
  <b><%= t 'views.users.index.cdate' %>:</b>
  <%= @user.cdate %>
</p>

<p>
  <b><%= t 'views.users.index.remark' %>:</b>
  <%= @user.remark %>
</p>


<%= link_to t('views.edit'), edit_user_path(@user) %> |
<%= link_to t('views.back'), users_path %>
