<%= form_for(@purchase) do |f| %>
  <% if @purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
      <% @purchase.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cpbh %><br />
    <%= f.text_field :cpbh %>
  </div>
  <div class="field">
    <%= f.label :cpmc %><br />
    <%= f.text_field :cpmc %>
  </div>
  <div class="field">
    <%= f.label :ys %><br />
    <%= f.text_field :ys %>
  </div>
  <div class="field">
    <%= f.label :sl %><br />
    <%= f.number_field :sl %>
  </div>
  <div class="field">
    <%= f.label :js %><br />
    <%= f.number_field :js %>
  </div>
  <div class="field">
    <%= f.label :dj %><br />
    <%= f.text_field :dj %>
  </div>
  <div class="field">
    <%= f.label :yfbz %><br />
    <%= f.text_field :yfbz %>
  </div>
  <div class="field">
    <%= f.label :xj %><br />
    <%= f.text_field :xj %>
  </div>
  <div class="field">
    <%= f.label :tj %><br />
    <%= f.text_field :tj %>
  </div>
  <div class="field">
    <%= f.label :bz %><br />
    <%= f.text_field :bz %>
  </div>
  <div class="field">
    <%= f.label :cdate %><br />
    <%= f.date_select :cdate %>
  </div>
  <div class="field">
    <%= f.label :remark %><br />
    <%= f.text_area :remark %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
