<h1><%= t 'views.purchases.index.listing_purchases' %></h1>

<table>
  <tr>
    <th>Cpbh</th>
    <th>Cpmc</th>
    <th>Ys</th>
    <th>Sl</th>
    <th>Js</th>
    <th>Dj</th>
    <th>Yfbz</th>
    <th>Xj</th>
    <th>Tj</th>
    <th>Bz</th>
    <th>Cdate</th>
    <th>Remark</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @purchases.each do |purchase| %>
  <tr>
    <td><%= purchase.cpbh %></td>
    <td><%= purchase.cpmc %></td>
    <td><%= purchase.ys %></td>
    <td><%= purchase.sl %></td>
    <td><%= purchase.js %></td>
    <td><%= purchase.dj %></td>
    <td><%= purchase.yfbz %></td>
    <td><%= purchase.xj %></td>
    <td><%= purchase.tj %></td>
    <td><%= purchase.bz %></td>
    <td><%= purchase.cdate %></td>
    <td><%= purchase.remark %></td>
    <td><%= link_to t('views.show'), purchase %></td>
    <td><%= link_to t('views.edit'), edit_purchase_path(purchase) %></td>
    <td><%= link_to t('views.destroy'), purchase, method: :delete, data: { confirm: t('views.are_you_sure') } %></td>
  </tr>
<% end %>
</table>

<br />
<%= paginate @purchases, :window => 2 %>

<br />

<%= link_to t('views.purchases.index.new_purchases'), new_purchase_path %>
