<p id="notice"><%= notice %></p>

<p>
  <b><%= t 'views.customers.index.cid' %>:</b>
  <%= @customer.cid %>
</p>

<p>
  <b><%= t 'views.customers.index.loginname' %>:</b>
  <%= @customer.loginname %>
</p>

<p>
  <b><%= t 'views.customers.index.cname' %>:</b>
  <%= @customer.cname %>
</p>

<p>
  <b><%= t 'views.customers.index.shopname' %>:</b>
  <%= @customer.shopname %>
</p>

<p>
  <b><%= t 'views.customers.index.sex' %>:</b>
  <%= @customer.sex %>
</p>

<p>
  <b><%= t 'views.customers.index.address' %>:</b>
  <%= @customer.address %>
</p>

<p>
  <b><%= t 'views.customers.index.email' %>:</b>
  <%= @customer.email %>
</p>

<p>
  <b><%= t 'views.customers.index.qq' %>:</b>
  <%= @customer.qq %>
</p>

<p>
  <b><%= t 'views.customers.index.tel' %>:</b>
  <%= @customer.tel %>
</p>

<p>
  <b><%= t 'views.customers.index.state' %>:</b>
  <%= @customer.state %>
</p>

<p>
  <b><%= t 'views.customers.index.cdate' %>:</b>
  <%= @customer.cdate %>
</p>

<p>
  <b><%= t 'views.customers.index.remark' %>:</b>
  <%= @customer.remark %>
</p>


<%= link_to t('views.edit'), edit_customer_path(@customer) %> |
<%= link_to t('views.back'), customers_path %>
