<%= form_for(@aftersellmain) do |f| %>
  <% if @aftersellmain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aftersellmain.errors.count, "error") %> prohibited this aftersellmain from being saved:</h2>

      <ul>
      <% @aftersellmain.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t('views.aftersellmains.index.stid') %>:<br />
    <%= f.text_field :stid %>
  </div>
  <div class="field">
    <%= f.label t('views.aftersellmains.index.stname') %>:<br />
    <%= f.text_field :stname %>
  </div>
  <div class="field">
    <%= f.label t('views.aftersellmains.index.tid') %>:<br />
    <%= f.text_field :tid %>
  </div>
  <div class="field">
    <%= f.label t('views.aftersellmains.index.custid') %>:<br />
    <%= f.text_field :custid %>
  </div>
  <div class="field">
    <%= f.label t('views.aftersellmains.index.custstate') %>:<br />
    <%= f.text_field :custstate %>
  </div>
  <div class="field">
    <%= f.label t('views.aftersellmains.index.custname') %>:<br />
    <%= f.text_field :custname %>
  </div>
  <div class="field">
    <%= f.label t('views.aftersellmains.index.shopname') %>:<br />
    <%= f.text_field :shopname %>
  </div>
  <div class="field">
    <%= f.label t('views.aftersellmains.index.custtel') %>:<br />
    <%= f.text_field :custtel %>
  </div>
  <div class="field">
    <%= f.label t('views.aftersellmains.index.custaddr') %>:<br />
    <%= f.text_field :custaddr %>
  </div>
  <div class="field">
    <%= f.label t('views.aftersellmains.index.yingshou') %>:<br />
    <%= f.text_field :yingshou %>
  </div>
  <div class="field">
    <%= f.label t('views.aftersellmains.index.shishou') %>:<br />
    <%= f.text_field :shishou %>
  </div>
  <div class="field">
    <%= f.label t('views.aftersellmains.index.shoukuan') %>:<br />
    <%= f.text_field :shoukuan %>
  </div>
  <div class="field">
    <%= f.label t('views.aftersellmains.index.zhaoling') %>:<br />
    <%= f.text_field :zhaoling %>
  </div>
  <div class="field">
    <%= f.label t('views.aftersellmains.index.yingtui') %>:<br />
    <%= f.text_field :yingtui %>
  </div>
  <div class="field">
    <%= f.label t('views.aftersellmains.index.shitui') %>:<br />
    <%= f.text_field :shitui %>
  </div>
  <div class="field">
    <%= f.label t('views.aftersellmains.index.fukuan') %>:<br />
    <%= f.text_field :fukuan %>
  </div>
  <div class="field">
    <%= f.label t('views.aftersellmains.index.zhaohui') %>:<br />
    <%= f.text_field :zhaohui %>
  </div>
  <div class="field">
    <%= f.label t('views.aftersellmains.index.sid') %>:<br />
    <%= f.text_field :sid %>
  </div>
  <div class="field">
    <%= f.label t('views.aftersellmains.index.sname') %>:<br />
    <%= f.text_field :sname %>
  </div>
  <div class="field">
    <%= f.label t('views.aftersellmains.index.stel') %>:<br />
    <%= f.text_field :stel %>
  </div>
  <div class="field">
    <%= f.label t('views.aftersellmains.index.saddress') %>:<br />
    <%= f.text_field :saddress %>
  </div>
  <div class="field">
    <%= f.label t('views.aftersellmains.index.payment') %>:<br />
    <%= f.text_field :payment %>
  </div>
  <div class="field">
    <%= f.label t('views.aftersellmains.index.tpayment') %>:<br />
    <%= f.text_field :tpayment %>
  </div>
  <div class="field">
    <%= f.label t('views.aftersellmains.index.status') %>:<br />
    <%= f.number_field :status %>
  </div>
  <div class="field">
    <%= f.label t('views.aftersellmains.index.uid') %>:<br />
    <%= f.text_field :uid %>
  </div>
  <div class="field">
    <%= f.label t('views.aftersellmains.index.tuid') %>:<br />
    <%= f.text_field :tuid %>
  </div>
  <div class="field">
    <%= f.label t('views.aftersellmains.index.uname') %>:<br />
    <%= f.text_field :uname %>
  </div>
  <div class="field">
    <%= f.label t('views.aftersellmains.index.tuname') %>:<br />
    <%= f.text_field :tuname %>
  </div>
  <div class="field">
    <%= f.label t('views.aftersellmains.index.dtype') %>:<br />
    <%= f.text_field :dtype %>
  </div>
  <div class="field">
    <%= f.label t('views.aftersellmains.index.preid') %>:<br />
    <%= f.text_field :preid %>
  </div>
  <div class="field">
    <%= f.label t('views.aftersellmains.index.nextid') %>:<br />
    <%= f.text_field :nextid %>
  </div>
  <div class="field">
    <%= f.label t('views.aftersellmains.index.cdate') %>:<br />
    <%= f.date_select :cdate, :order => [:year,:month,:day] %>
  </div>
  <div class="field">
    <%= f.label t('views.aftersellmains.index.pdate') %>:<br />
    <%= f.date_select :pdate, :order => [:year,:month,:day] %>
  </div>
  <div class="field">
    <%= f.label t('views.aftersellmains.index.tremark') %>:<br />
    <%= f.text_area :tremark %>
  </div>
  <div class="field">
    <%= f.label t('views.aftersellmains.index.remark') %>:<br />
    <%= f.text_area :remark %>
  </div>
  <div class="actions">
    <%= f.submit t('views.submit') %>
  </div>
<% end %>
