<h1><%= t '.listing_contactpayments' %></h1>

<table border="1">
  <tr>
    <th width="80px"><%= t '.stname' %></th>
    <th width="80px"><%= t '.outmoney' %></th>
    <th width="80px"><%= t '.inmoney' %></th>
    <th width="80px"><%= t '.strike' %></th>
    <th width="90px"><%= t '.method' %></th>
    <th width="90px"><%= t '.proof' %></th>
    <th width="90px"><%= t '.ticketid' %></th>
    <th width="80px"><%= t '.cdate' %></th>
    <th width="40px"><%= t '.status' %></th>
    <th width="100px"><%= t '.remark' %></th>
  </tr>

<% @contactpayments.each do |contactpayment| %>
  <tr>
    <td><%= contactpayment.stname %></td>
    <td><%= contactpayment.outmoney %></td>
    <td><%= contactpayment.inmoney %></td>
    <td><%= contactpayment.strike %></td>
    <td><%= contactpayment.method %></td>
    <td><%= contactpayment.proof %></td>
    <td><%= contactpayment.ticketid %></td>
    <td><%= contactpayment.cdate %></td>
    <td><%= contactpayment.status %></td>
    <td><%= contactpayment.remark %></td>
  </tr>
<% end %>
</table>

<br />
<%= paginate @contactpayments, :window => 2 %>
<br />

