<p id="notice"><%= notice %></p>

<p>
  <b>Stid:</b>
  <%= @contactpayment.stid %>
</p>

<p>
  <b>Stname:</b>
  <%= @contactpayment.stname %>
</p>

<p>
  <b>Custid:</b>
  <%= @contactpayment.custid %>
</p>

<p>
  <b>Custname:</b>
  <%= @contactpayment.custname %>
</p>

<p>
  <b>Outmoney:</b>
  <%= @contactpayment.outmoney %>
</p>

<p>
  <b>Inmoney:</b>
  <%= @contactpayment.inmoney %>
</p>

<p>
  <b>Strike:</b>
  <%= @contactpayment.strike %>
</p>

<p>
  <b>Method:</b>
  <%= @contactpayment.method %>
</p>

<p>
  <b>Proof:</b>
  <%= @contactpayment.proof %>
</p>

<p>
  <b>Ticketid:</b>
  <%= @contactpayment.ticketid %>
</p>

<p>
  <b>Cdate:</b>
  <%= @contactpayment.cdate %>
</p>

<p>
  <b>Status:</b>
  <%= @contactpayment.status %>
</p>

<p>
  <b>Remark:</b>
  <%= @contactpayment.remark %>
</p>


<%= link_to 'Edit', edit_contactpayment_path(@contactpayment) %> |
<%= link_to 'Back', contactpayments_path %>
