<h1><%= t 'views.profitcustomers.index.listing_profitcustomers' %></h1>

<table>
  <tr>
    <th><%= t 'views.profitcustomers.index.cname' %></th>
    <th><%= t 'views.profitcustomers.index.tel' %></th>
    <th><%= t 'views.profitcustomers.index.profit' %></th>
  </tr>

<% @profitcustomers.each do |profitcustomer| %>
  <tr>
    <td><%= profitcustomer.cname %></td>
    <td><%= profitcustomer.tel %></td>
    <td><%= profitcustomer.profit %></td>
  </tr>
<% end %>
</table>
<br />
<%= paginate @profitcustomers, :window => 2 %>
<br />

