<h1><%= t 'views.stocknews.index.listing_stocknews' %></h1>

<table>
  <tr>
    <th><%= t 'views.stocknews.index.pid' %></th>
    <th><%= t 'views.stocknews.index.goodsname' %></th>
    <th><%= t 'views.stocknews.index.color' %></th>
    <th><%= t 'views.stocknews.index.amount' %></th>
    <th><%= t 'views.stocknews.index.unit' %></th>
    <th><%= t 'views.stocknews.index.volume' %></th>
  </tr>

<% @stocknews.each do |stocknews| %>
  <tr>
    <td><%= stocknews.pid %></td>
    <td><%= stocknews.goodsname %></td>
    <td><%= stocknews.color %></td>
    <td><%= stocknews.amount %></td>
    <td><%= stocknews.unit %></td>
    <td><%= stocknews.volume %></td>
  </tr>
<% end %>
</table>
<br />
<%= paginate @stocknews, :window => 2 %>
<br />

