<h1><%= t 'views.aftersellmains.index.listing_aftersellmains' %></h1>

<table>
  <tr>
    <th><%= t 'views.aftersellmains.index.stid' %></th>
    <th><%= t 'views.aftersellmains.index.stname' %></th>
    <th><%= t 'views.aftersellmains.index.tid' %></th>
    <th><%= t 'views.aftersellmains.index.custid' %></th>
    <th><%= t 'views.aftersellmains.index.custstate' %></th>
    <th><%= t 'views.aftersellmains.index.custname' %></th>
    <th><%= t 'views.aftersellmains.index.shopname' %></th>
    <th><%= t 'views.aftersellmains.index.custtel' %></th>
    <th><%= t 'views.aftersellmains.index.custaddr' %></th>
    <th><%= t 'views.aftersellmains.index.yingshou' %></th>
    <th><%= t 'views.aftersellmains.index.shishou' %></th>
    <th><%= t 'views.aftersellmains.index.shoukuan' %></th>
    <th><%= t 'views.aftersellmains.index.zhaoling' %></th>
    <th><%= t 'views.aftersellmains.index.yingtui' %></th>
    <th><%= t 'views.aftersellmains.index.shitui' %></th>
    <th><%= t 'views.aftersellmains.index.fukuan' %></th>
    <th><%= t 'views.aftersellmains.index.zhaohui' %></th>
    <th><%= t 'views.aftersellmains.index.sid' %></th>
    <th><%= t 'views.aftersellmains.index.sname' %></th>
    <th><%= t 'views.aftersellmains.index.stel' %></th>
    <th><%= t 'views.aftersellmains.index.saddress' %></th>
    <th><%= t 'views.aftersellmains.index.payment' %></th>
    <th><%= t 'views.aftersellmains.index.tpayment' %></th>
    <th><%= t 'views.aftersellmains.index.status' %></th>
    <th><%= t 'views.aftersellmains.index.uid' %></th>
    <th><%= t 'views.aftersellmains.index.tuid' %></th>
    <th><%= t 'views.aftersellmains.index.uname' %></th>
    <th><%= t 'views.aftersellmains.index.tuname' %></th>
    <th><%= t 'views.aftersellmains.index.type' %></th>
    <th><%= t 'views.aftersellmains.index.preid' %></th>
    <th><%= t 'views.aftersellmains.index.nextid' %></th>
    <th><%= t 'views.aftersellmains.index.cdate' %></th>
    <th><%= t 'views.aftersellmains.index.pdate' %></th>
    <th><%= t 'views.aftersellmains.index.tremark' %></th>
    <th><%= t 'views.aftersellmains.index.remark' %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @aftersellmains.each do |aftersellmain| %>
  <tr>
    <td><%= aftersellmain.stid %></td>
    <td><%= aftersellmain.stname %></td>
    <td><%= aftersellmain.tid %></td>
    <td><%= aftersellmain.custid %></td>
    <td><%= aftersellmain.custstate %></td>
    <td><%= aftersellmain.custname %></td>
    <td><%= aftersellmain.shopname %></td>
    <td><%= aftersellmain.custtel %></td>
    <td><%= aftersellmain.custaddr %></td>
    <td><%= aftersellmain.yingshou %></td>
    <td><%= aftersellmain.shishou %></td>
    <td><%= aftersellmain.shoukuan %></td>
    <td><%= aftersellmain.zhaoling %></td>
    <td><%= aftersellmain.yingtui %></td>
    <td><%= aftersellmain.shitui %></td>
    <td><%= aftersellmain.fukuan %></td>
    <td><%= aftersellmain.zhaohui %></td>
    <td><%= aftersellmain.sid %></td>
    <td><%= aftersellmain.sname %></td>
    <td><%= aftersellmain.stel %></td>
    <td><%= aftersellmain.saddress %></td>
    <td><%= aftersellmain.payment %></td>
    <td><%= aftersellmain.tpayment %></td>
    <td><%= aftersellmain.status %></td>
    <td><%= aftersellmain.uid %></td>
    <td><%= aftersellmain.tuid %></td>
    <td><%= aftersellmain.uname %></td>
    <td><%= aftersellmain.tuname %></td>
    <td><%= aftersellmain.type %></td>
    <td><%= aftersellmain.preid %></td>
    <td><%= aftersellmain.nextid %></td>
    <td><%= aftersellmain.cdate %></td>
    <td><%= aftersellmain.pdate %></td>
    <td><%= aftersellmain.tremark %></td>
    <td><%= aftersellmain.remark %></td>
    <td><%= link_to t('views.show'), aftersellmain %></td>
    <td><%= link_to t('views.edit'), edit_aftersellmain_path(aftersellmain) %></td>
    <td><%= link_to t('views.destroy'), aftersellmain, method: :delete, data: { confirm: t('views.are_you_sure') } %></td>
  </tr>
<% end %>
</table>

<br />
<%= paginate @aftersellmains, :window => 2, :remote => true %>
<br />


<%= link_to t('views.aftersellmains.index.new_aftersellmains'), new_aftersellmain_path %>
