<p id="notice"><%= notice %></p>

<p>
  <b>Stid:</b>
  <%= @aftersellmain.stid %>
</p>

<p>
  <b>Stname:</b>
  <%= @aftersellmain.stname %>
</p>

<p>
  <b>Tid:</b>
  <%= @aftersellmain.tid %>
</p>

<p>
  <b>Custid:</b>
  <%= @aftersellmain.custid %>
</p>

<p>
  <b>Custstate:</b>
  <%= @aftersellmain.custstate %>
</p>

<p>
  <b>Custname:</b>
  <%= @aftersellmain.custname %>
</p>

<p>
  <b>Shopname:</b>
  <%= @aftersellmain.shopname %>
</p>

<p>
  <b>Custtel:</b>
  <%= @aftersellmain.custtel %>
</p>

<p>
  <b>Custaddr:</b>
  <%= @aftersellmain.custaddr %>
</p>

<p>
  <b>Yingshou:</b>
  <%= @aftersellmain.yingshou %>
</p>

<p>
  <b>Shishou:</b>
  <%= @aftersellmain.shishou %>
</p>

<p>
  <b>Shoukuan:</b>
  <%= @aftersellmain.shoukuan %>
</p>

<p>
  <b>Zhaoling:</b>
  <%= @aftersellmain.zhaoling %>
</p>

<p>
  <b>Yingtui:</b>
  <%= @aftersellmain.yingtui %>
</p>

<p>
  <b>Shitui:</b>
  <%= @aftersellmain.shitui %>
</p>

<p>
  <b>Fukuan:</b>
  <%= @aftersellmain.fukuan %>
</p>

<p>
  <b>Zhaohui:</b>
  <%= @aftersellmain.zhaohui %>
</p>

<p>
  <b>Sid:</b>
  <%= @aftersellmain.sid %>
</p>

<p>
  <b>Sname:</b>
  <%= @aftersellmain.sname %>
</p>

<p>
  <b>Stel:</b>
  <%= @aftersellmain.stel %>
</p>

<p>
  <b>Saddress:</b>
  <%= @aftersellmain.saddress %>
</p>

<p>
  <b>Payment:</b>
  <%= @aftersellmain.payment %>
</p>

<p>
  <b>Tpayment:</b>
  <%= @aftersellmain.tpayment %>
</p>

<p>
  <b>Status:</b>
  <%= @aftersellmain.status %>
</p>

<p>
  <b>Uid:</b>
  <%= @aftersellmain.uid %>
</p>

<p>
  <b>Tuid:</b>
  <%= @aftersellmain.tuid %>
</p>

<p>
  <b>Uname:</b>
  <%= @aftersellmain.uname %>
</p>

<p>
  <b>Tuname:</b>
  <%= @aftersellmain.tuname %>
</p>

<p>
  <b>Type:</b>
  <%= @aftersellmain.type %>
</p>

<p>
  <b>Preid:</b>
  <%= @aftersellmain.preid %>
</p>

<p>
  <b>Nextid:</b>
  <%= @aftersellmain.nextid %>
</p>

<p>
  <b>Cdate:</b>
  <%= @aftersellmain.cdate %>
</p>

<p>
  <b>Pdate:</b>
  <%= @aftersellmain.pdate %>
</p>

<p>
  <b>Tremark:</b>
  <%= @aftersellmain.tremark %>
</p>

<p>
  <b>Remark:</b>
  <%= @aftersellmain.remark %>
</p>


<%= link_to 'Edit', edit_aftersellmain_path(@aftersellmain) %> |
<%= link_to 'Back', aftersellmains_path %>
