<p id="notice"><%= notice %></p>

<p>
  <b><%= t 'views.aftersellmains.index.stid' %>:</b>
  <%= @aftersellmain.stid %>
</p>

<p>
  <b><%= t 'views.aftersellmains.index.stname' %>:</b>
  <%= @aftersellmain.stname %>
</p>

<p>
  <b><%= t 'views.aftersellmains.index.tid' %>:</b>
  <%= @aftersellmain.tid %>
</p>

<p>
  <b><%= t 'views.aftersellmains.index.custid' %>:</b>
  <%= @aftersellmain.custid %>
</p>

<p>
  <b><%= t 'views.aftersellmains.index.custstate' %>:</b>
  <%= @aftersellmain.custstate %>
</p>

<p>
  <b><%= t 'views.aftersellmains.index.custname' %>:</b>
  <%= @aftersellmain.custname %>
</p>

<p>
  <b><%= t 'views.aftersellmains.index.shopname' %>:</b>
  <%= @aftersellmain.shopname %>
</p>

<p>
  <b><%= t 'views.aftersellmains.index.custtel' %>:</b>
  <%= @aftersellmain.custtel %>
</p>

<p>
  <b><%= t 'views.aftersellmains.index.custaddr' %>:</b>
  <%= @aftersellmain.custaddr %>
</p>

<p>
  <b><%= t 'views.aftersellmains.index.yingshou' %>:</b>
  <%= @aftersellmain.yingshou %>
</p>

<p>
  <b><%= t 'views.aftersellmains.index.shishou' %>:</b>
  <%= @aftersellmain.shishou %>
</p>

<p>
  <b><%= t 'views.aftersellmains.index.shoukuan' %>:</b>
  <%= @aftersellmain.shoukuan %>
</p>

<p>
  <b><%= t 'views.aftersellmains.index.zhaoling' %>:</b>
  <%= @aftersellmain.zhaoling %>
</p>

<p>
  <b><%= t 'views.aftersellmains.index.yingtui' %>:</b>
  <%= @aftersellmain.yingtui %>
</p>

<p>
  <b><%= t 'views.aftersellmains.index.shitui' %>:</b>
  <%= @aftersellmain.shitui %>
</p>

<p>
  <b><%= t 'views.aftersellmains.index.fukuan' %>:</b>
  <%= @aftersellmain.fukuan %>
</p>

<p>
  <b><%= t 'views.aftersellmains.index.zhaohui' %>:</b>
  <%= @aftersellmain.zhaohui %>
</p>

<p>
  <b><%= t 'views.aftersellmains.index.sid' %>:</b>
  <%= @aftersellmain.sid %>
</p>

<p>
  <b><%= t 'views.aftersellmains.index.sname' %>:</b>
  <%= @aftersellmain.sname %>
</p>

<p>
  <b><%= t 'views.aftersellmains.index.stel' %>:</b>
  <%= @aftersellmain.stel %>
</p>

<p>
  <b><%= t 'views.aftersellmains.index.saddress' %>:</b>
  <%= @aftersellmain.saddress %>
</p>

<p>
  <b><%= t 'views.aftersellmains.index.payment' %>:</b>
  <%= @aftersellmain.payment %>
</p>

<p>
  <b><%= t 'views.aftersellmains.index.tpayment' %>:</b>
  <%= @aftersellmain.tpayment %>
</p>

<p>
  <b><%= t 'views.aftersellmains.index.status' %>:</b>
  <%= @aftersellmain.status %>
</p>

<p>
  <b><%= t 'views.aftersellmains.index.uid' %>:</b>
  <%= @aftersellmain.uid %>
</p>

<p>
  <b><%= t 'views.aftersellmains.index.tuid' %>:</b>
  <%= @aftersellmain.tuid %>
</p>

<p>
  <b><%= t 'views.aftersellmains.index.uname' %>:</b>
  <%= @aftersellmain.uname %>
</p>

<p>
  <b><%= t 'views.aftersellmains.index.tuname' %>:</b>
  <%= @aftersellmain.tuname %>
</p>

<p>
  <b><%= t 'views.aftersellmains.index.dtype' %>:</b>
  <%= @aftersellmain.dtype %>
</p>

<p>
  <b><%= t 'views.aftersellmains.index.preid' %>:</b>
  <%= @aftersellmain.preid %>
</p>

<p>
  <b><%= t 'views.aftersellmains.index.nextid' %>:</b>
  <%= @aftersellmain.nextid %>
</p>

<p>
  <b><%= t 'views.aftersellmains.index.cdate' %>:</b>
  <%= @aftersellmain.cdate %>
</p>

<p>
  <b><%= t 'views.aftersellmains.index.pdate' %>:</b>
  <%= @aftersellmain.pdate %>
</p>

<p>
  <b><%= t 'views.aftersellmains.index.tremark' %>:</b>
  <%= @aftersellmain.tremark %>
</p>

<p>
  <b><%= t 'views.aftersellmains.index.remark' %>:</b>
  <%= @aftersellmain.remark %>
</p>


<%= link_to t('views.edit'), edit_aftersellmain_path(@aftersellmain) %> |
<%= link_to t('views.back'), aftersellmains_path %>
