<h1><%= t 'views.mauths.index.listing_mauths' %></h1>

<table>
  <tr>
    <th>Uid</th>
    <th>Rid</th>
    <th>Mid</th>
    <th>Cdkey</th>
    <th>Result</th>
    <th>Cdate</th>
    <th>Remark</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mauths.each do |mauth| %>
  <tr>
    <td><%= mauth.uid %></td>
    <td><%= mauth.rid %></td>
    <td><%= mauth.mid %></td>
    <td><%= mauth.cdkey %></td>
    <td><%= mauth.result %></td>
    <td><%= mauth.cdate %></td>
    <td><%= mauth.remark %></td>
    <td><%= link_to t('views.show'), mauth %></td>
    <td><%= link_to t('views.edit'), edit_mauth_path(mauth) %></td>
    <td><%= link_to t('views.destroy'), mauth, method: :delete, data: { confirm: t('views.are_you_sure') } %></td>
  </tr>
<% end %>
</table>
<br />
<%= paginate @mauths, :window => 2 %>
<br />

<%= link_to t('views.mauths.index.new_mauths'), new_mauth_path %>
