<div class="input_form">
<!-- START:explanation -->

<%= form_for @ordermain do |f| %>

    <fieldset>
  <legend><%= t('.input_ordermain_info') %></legend>
  <% if @ordermain.errors.any? %>
    <div id="error_explanation">
<!-- START_HIGHLIGHT -->
      <h2><%=raw t('errors.template.header', count: @ordermain.errors.count,
        model: t('activerecord.models.ordermain')) %>.</h2>
      <p><%= t('errors.template.body') %></p>
<!-- END_HIGHLIGHT -->

      <ul>
      <% @ordermain.errors.full_messages.each do |msg| %>
<!-- START_HIGHLIGHT -->
        <li><%=raw msg %></li>
<!-- END_HIGHLIGHT -->
      <% end %>
      </ul>
    </div>
  <% end %>
<!-- ... -->
<!-- END:explanation -->


  <div class="field">
    <%= f.label :oid, t('.oid') %>:
    <%= f.text_field :oid, size: 40, :disabled => "disabled" %>
  </div>
  <p>----------------------------------------------------------------------------------------------------------------------------------------------</p>
  <div class="field">
    <%= f.label :custname, t('.custname') %>:
    <%= f.text_field :custname, size: 40, :disabled => "disabled" %>
  </div>
  <div class="field">
    <%= f.label :custtel, t('.custtel') %>:
    <%= f.text_field :custtel, size: 13 %>
  </div>
  <div class="field">
<!-- START_HIGHLIGHT -->
    <%= f.label :custaddr, t('.custaddr') %>:<br/>
<!-- END_HIGHLIGHT -->
    <%= f.text_area :custaddr, rows: 2, cols: 80 %>
  </div>

  <p>----------------------------------------------------------------------------------------------------------------------------------------------</p>

  <div class="field">
    <%= f.label :delivertype, t('.delivertype') %>:
    <%= collection_select(:shipper, :id, @shippers, :id, :delivertype, options ={:prompt => t('.select_a_delivertype')}, :class =>"shipper") %>
    <%= f.label :sname, t('.sname') %>:
    <%= collection_select(:shipper, :id, @shippers, :id, :sname, options ={:prompt => t('.select_a_shipper')}, :class =>"shipper") %>
  </div>

  <p>----------------------------------------------------------------------------------------------------------------------------------------------</p>

  <div class="field">
    <%= f.label :remark, t('.remark') %>:<br/>
    <%= f.text_area :remark, rows: 4, cols: 80 %>
  </div>

  <p>----------------------------------------------------------------------------------------------------------------------------------------------</p>
  <div class="field">
    <%= f.label :yingshou, t('.yingshou') %>:
    <%= f.text_field :yingshou, size: 20, :disabled => "disabled" %>
    <%= label_tag :allvolume, t('.allvolume') %>:
    <%= text_field_tag :allvolume, '', size: 20, disabled: true %>
    <%= label_tag :allamount, t('.allamount') %>:
    <%= text_field_tag :allamount, '', size: 20, disabled: true %>
  </div>
  <div class="actions">
<!-- START_HIGHLIGHT -->
    <%= f.submit t('.submit') %>
<!-- END_HIGHLIGHT -->
  </div>

    </fieldset>
<% end %>
</div>
