<%= form_for(@ordermain) do |f| %>
  <% if @ordermain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ordermain.errors.count, "error") %> prohibited this ordermain from being saved:</h2>

      <ul>
      <% @ordermain.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t('views.ordermains.index.oid') %>:<br />
    <%= f.text_field :oid %>
  </div>
  <div class="field">
    <%= f.label t('views.ordermains.index.custid') %>:<br />
    <%= f.text_field :custid %>
  </div>
  <div class="field">
    <%= f.label t('views.ordermains.index.custstate') %>:<br />
    <%= f.text_field :custstate %>
  </div>
  <div class="field">
    <%= f.label t('views.ordermains.index.custname') %>:<br />
    <%= f.text_field :custname %>
  </div>
  <div class="field">
    <%= f.label t('views.ordermains.index.shopname') %>:<br />
    <%= f.text_field :shopname %>
  </div>
  <div class="field">
    <%= f.label t('views.ordermains.index.custtel') %>:<br />
    <%= f.text_field :custtel %>
  </div>
  <div class="field">
    <%= f.label t('views.ordermains.index.custaddr') %>:<br />
    <%= f.text_field :custaddr %>
  </div>
  <div class="field">
    <%= f.label t('views.ordermains.index.yingshou') %>:<br />
    <%= f.text_field :yingshou %>
  </div>
  <div class="field">
    <%= f.label t('views.ordermains.index.shishou') %>:<br />
    <%= f.text_field :shishou %>
  </div>
  <div class="field">
    <%= f.label t('views.ordermains.index.sid') %>:<br />
    <%= f.text_field :sid %>
  </div>
  <div class="field">
    <%= f.label t('views.ordermains.index.sname') %>:<br />
    <%= f.text_field :sname %>
  </div>
  <div class="field">
    <%= f.label t('views.ordermains.index.stel') %>:<br />
    <%= f.text_field :stel %>
  </div>
  <div class="field">
    <%= f.label t('views.ordermains.index.saddress') %>:<br />
    <%= f.text_field :saddress %>
  </div>
  <div class="field">
    <%= f.label t('views.ordermains.index.payment') %>:<br />
    <%= f.text_field :payment %>
  </div>
  <div class="field">
    <%= f.label t('views.ordermains.index.status') %>:<br />
    <%= f.number_field :status %>
  </div>
  <div class="field">
    <%= f.label t('views.ordermains.index.uid') %>:<br />
    <%= f.text_field :uid %>
  </div>
  <div class="field">
    <%= f.label t('views.ordermains.index.uname') %>:<br />
    <%= f.text_field :uname %>
  </div>
  <div class="field">
    <%= f.label t('views.ordermains.index.preid') %>:<br />
    <%= f.text_field :preid %>
  </div>
  <div class="field">
    <%= f.label t('views.ordermains.index.nextid') %>:<br />
    <%= f.text_field :nextid %>
  </div>
  <div class="field">
    <%= f.label t('views.ordermains.index.dtype') %>:<br />
    <%= f.text_field :dtype %>
  </div>
  <div class="field">
    <%= f.label t('views.ordermains.index.cdate') %>:<br />
    <%= f.date_select :cdate, :order => [:year,:month,:day]  %>
  </div>
  <div class="field">
    <%= f.label t('views.ordermains.index.canal') %>:<br />
    <%= f.text_field :canal %>
  </div>
  <div class="field">
    <%= f.label t('views.ordermains.index.remark') %>:<br />
    <%= f.text_area :remark %>
  </div>
  <div class="actions">
    <%= f.submit t('views.submit') %>
  </div>
<% end %>
