<h1><%= t 'views.ordermains.index.listing_ordermains' %></h1>

<table>
  <tr>
    <th><%= t 'views.ordermains.index.oid' %></th>
    <th><%= t 'views.ordermains.index.custid' %></th>
    <th><%= t 'views.ordermains.index.custstate' %></th>
    <th><%= t 'views.ordermains.index.custname' %></th>
    <th><%= t 'views.ordermains.index.shopname' %></th>
    <th><%= t 'views.ordermains.index.custtel' %></th>
    <th><%= t 'views.ordermains.index.custaddr' %></th>
    <th><%= t 'views.ordermains.index.yingshou' %></th>
    <th><%= t 'views.ordermains.index.shishou' %></th>
    <th><%= t 'views.ordermains.index.sid' %></th>
    <th><%= t 'views.ordermains.index.sname' %></th>
    <th><%= t 'views.ordermains.index.stel' %></th>
    <th><%= t 'views.ordermains.index.saddress' %></th>
    <th><%= t 'views.ordermains.index.payment' %></th>
    <th><%= t 'views.ordermains.index.status' %></th>
    <th><%= t 'views.ordermains.index.uid' %></th>
    <th><%= t 'views.ordermains.index.uname' %></th>
    <th><%= t 'views.ordermains.index.preid' %></th>
    <th><%= t 'views.ordermains.index.nextid' %></th>
    <th><%= t 'views.ordermains.index.dtype' %></th>
    <th><%= t 'views.ordermains.index.cdate' %></th>
    <th><%= t 'views.ordermains.index.canal' %></th>
    <th><%= t 'views.ordermains.index.remark' %></th>
    <th colspan="3"><%= t 'views.operation' %></th>
  </tr>

<% @ordermains.each do |ordermain| %>
  <tr>
    <td><%= ordermain.oid %></td>
    <td><%= ordermain.custid %></td>
    <td><%= ordermain.custstate %></td>
    <td><%= ordermain.custname %></td>
    <td><%= ordermain.shopname %></td>
    <td><%= ordermain.custtel %></td>
    <td><%= ordermain.custaddr %></td>
    <td><%= ordermain.yingshou %></td>
    <td><%= ordermain.shishou %></td>
    <td><%= ordermain.sid %></td>
    <td><%= ordermain.sname %></td>
    <td><%= ordermain.stel %></td>
    <td><%= ordermain.saddress %></td>
    <td><%= ordermain.payment %></td>
    <td><%= ordermain.status %></td>
    <td><%= ordermain.uid %></td>
    <td><%= ordermain.uname %></td>
    <td><%= ordermain.preid %></td>
    <td><%= ordermain.nextid %></td>
    <td><%= ordermain.dtype %></td>
    <td><%= ordermain.cdate %></td>
    <td><%= ordermain.canal %></td>
    <td><%= ordermain.remark %></td>
    <td><%= link_to t('views.show'), ordermain %></td>
    <td><%= link_to t('views.edit'), edit_ordermain_path(ordermain) %></td>
    <td><%= link_to t('views.destroy'), ordermain, method: :delete, data: { confirm: t('views.are_you_sure') } %></td>
  </tr>
<% end %>
</table>
<br />
<%= paginate @ordermains, :window => 2 %>
<br />

<%= link_to t('views.ordermains.index.new_ordermains'), new_ordermain_path %>
