<p id="notice"><%= notice %></p>

<p>
  <b>Oid:</b>
  <%= @ordermain.oid %>
</p>

<p>
  <b>Custid:</b>
  <%= @ordermain.custid %>
</p>

<p>
  <b>Custstate:</b>
  <%= @ordermain.custstate %>
</p>

<p>
  <b>Custname:</b>
  <%= @ordermain.custname %>
</p>

<p>
  <b>Shopname:</b>
  <%= @ordermain.shopname %>
</p>

<p>
  <b>Custtel:</b>
  <%= @ordermain.custtel %>
</p>

<p>
  <b>Custaddr:</b>
  <%= @ordermain.custaddr %>
</p>

<p>
  <b>Yingshou:</b>
  <%= @ordermain.yingshou %>
</p>

<p>
  <b>Shishou:</b>
  <%= @ordermain.shishou %>
</p>

<p>
  <b>Sid:</b>
  <%= @ordermain.sid %>
</p>

<p>
  <b>Sname:</b>
  <%= @ordermain.sname %>
</p>

<p>
  <b>Stel:</b>
  <%= @ordermain.stel %>
</p>

<p>
  <b>Saddress:</b>
  <%= @ordermain.saddress %>
</p>

<p>
  <b>Payment:</b>
  <%= @ordermain.payment %>
</p>

<p>
  <b>Status:</b>
  <%= @ordermain.status %>
</p>

<p>
  <b>Uid:</b>
  <%= @ordermain.uid %>
</p>

<p>
  <b>Uname:</b>
  <%= @ordermain.uname %>
</p>

<p>
  <b>Preid:</b>
  <%= @ordermain.preid %>
</p>

<p>
  <b>Nextid:</b>
  <%= @ordermain.nextid %>
</p>

<p>
  <b>Type:</b>
  <%= @ordermain.type %>
</p>

<p>
  <b>Cdate:</b>
  <%= @ordermain.cdate %>
</p>

<p>
  <b>Canal:</b>
  <%= @ordermain.canal %>
</p>

<p>
  <b>Remark:</b>
  <%= @ordermain.remark %>
</p>


<%= link_to 'Edit', edit_ordermain_path(@ordermain) %> |
<%= link_to 'Back', ordermains_path %>
