<p id="notice"><%= notice %></p>

<p>
  <b><%= t 'views.memberprices.index.pid' %>:</b>
  <%= @memberprice.pid %>
</p>

<p>
  <b><%= t 'views.memberprices.index.barcode' %>:</b>
  <%= @memberprice.barcode %>
</p>

<p>
  <b><%= t 'views.memberprices.index.goodsname' %>:</b>
  <%= @memberprice.goodsname %>
</p>

<p>
  <b><%= t 'views.memberprices.index.size' %>:</b>
  <%= @memberprice.size %>
</p>

<p>
  <b><%= t 'views.memberprices.index.color' %>:</b>
  <%= @memberprice.color %>
</p>

<p>
  <b><%= t 'views.memberprices.index.volume' %>:</b>
  <%= @memberprice.volume %>
</p>

<p>
  <b><%= t 'views.memberprices.index.unit' %>:</b>
  <%= @memberprice.unit %>
</p>

<p>
  <b><%= t 'views.memberprices.index.custid' %>:</b>
  <%= @memberprice.custid %>
</p>

<p>
  <b><%= t 'views.memberprices.index.custname' %>:</b>
  <%= @memberprice.custname %>
</p>

<p>
  <b><%= t 'views.memberprices.index.custtel' %>:</b>
  <%= @memberprice.custtel %>
</p>

<p>
  <b><%= t 'views.memberprices.index.startdate' %>:</b>
  <%= @memberprice.startdate %>
</p>

<p>
  <b><%= t 'views.memberprices.index.enddate' %>:</b>
  <%= @memberprice.enddate %>
</p>

<p>
  <b><%= t 'views.memberprices.index.hprice' %>:</b>
  <%= @memberprice.hprice %>
</p>

<p>
  <b><%= t 'views.memberprices.index.cdate' %>:</b>
  <%= @memberprice.cdate %>
</p>

<p>
  <b><%= t 'views.memberprices.index.remark' %>:</b>
  <%= @memberprice.remark %>
</p>


<%= link_to t('views.edit'), edit_memberprice_path(@memberprice) %> |
<%= link_to t('views.back'), memberprices_path %>
