<h1><%= t 'views.statementdays.index.listing_statementdays' %></h1>

<table>
  <tr>
    <th><%= t 'views.statementdays.index.date' %></th>
    <th><%= t 'views.statementdays.index.method' %></th>
    <th><%= t 'views.statementdays.index.outmoney' %></th>
    <th><%= t 'views.statementdays.index.inmoney' %></th>
    <th><%= t 'views.statementdays.index.strike' %></th>
  </tr>

<% @statementdays.each do |statementday| %>
  <tr>
    <td><%= statementday.date %></td>
    <td><%= statementday.method %></td>
    <td><%= statementday.outmoney %></td>
    <td><%= statementday.inmoney %></td>
    <td><%= statementday.strike %></td>
  </tr>
<% end %>
</table>
<br />
<%= paginate @statementdays, :window => 2 %>
<br />

