<p id="notice"><%= notice %></p>

<p>
  <b>Stid:</b>
  <%= @selllogmain.stid %>
</p>

<p>
  <b>Stname:</b>
  <%= @selllogmain.stname %>
</p>

<p>
  <b>Slid:</b>
  <%= @selllogmain.slid %>
</p>

<p>
  <b>Custid:</b>
  <%= @selllogmain.custid %>
</p>

<p>
  <b>Custstate:</b>
  <%= @selllogmain.custstate %>
</p>

<p>
  <b>Custname:</b>
  <%= @selllogmain.custname %>
</p>

<p>
  <b>Shopname:</b>
  <%= @selllogmain.shopname %>
</p>

<p>
  <b>Custtel:</b>
  <%= @selllogmain.custtel %>
</p>

<p>
  <b>Custaddr:</b>
  <%= @selllogmain.custaddr %>
</p>

<p>
  <b>Yingshou:</b>
  <%= @selllogmain.yingshou %>
</p>

<p>
  <b>Shishou:</b>
  <%= @selllogmain.shishou %>
</p>

<p>
  <b>Shoukuan:</b>
  <%= @selllogmain.shoukuan %>
</p>

<p>
  <b>Zhaoling:</b>
  <%= @selllogmain.zhaoling %>
</p>

<p>
  <b>Aamount:</b>
  <%= @selllogmain.aamount %>
</p>

<p>
  <b>Avolume:</b>
  <%= @selllogmain.avolume %>
</p>

<p>
  <b>Sid:</b>
  <%= @selllogmain.sid %>
</p>

<p>
  <b>Sname:</b>
  <%= @selllogmain.sname %>
</p>

<p>
  <b>Stel:</b>
  <%= @selllogmain.stel %>
</p>

<p>
  <b>Saddress:</b>
  <%= @selllogmain.saddress %>
</p>

<p>
  <b>Payment:</b>
  <%= @selllogmain.payment %>
</p>

<p>
  <b>Status:</b>
  <%= @selllogmain.status %>
</p>

<p>
  <b>Uid:</b>
  <%= @selllogmain.uid %>
</p>

<p>
  <b>Uname:</b>
  <%= @selllogmain.uname %>
</p>

<p>
  <b>Preid:</b>
  <%= @selllogmain.preid %>
</p>

<p>
  <b>Nextid:</b>
  <%= @selllogmain.nextid %>
</p>

<p>
  <b>Type:</b>
  <%= @selllogmain.type %>
</p>

<p>
  <b>Cdate:</b>
  <%= @selllogmain.cdate %>
</p>

<p>
  <b>Pdate:</b>
  <%= @selllogmain.pdate %>
</p>

<p>
  <b>Remark:</b>
  <%= @selllogmain.remark %>
</p>


<%= link_to 'Edit', edit_selllogmain_path(@selllogmain) %> |
<%= link_to 'Back', selllogmains_path %>
