<div class="bingdian_form">

<%= form_for @customer do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %>
        prohibited this user from being saved:</h2>
      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
  <legend><%= t('.input_customer_info') %></legend>

  <div>
    <%= f.label :cid, t('.cid') %>:
    <%= f.text_field :cid, size: 40 %>
  </div>

  <div>
    <%= f.label :loginname, t('.loginname') %>:
    <%= f.text_field :loginname, size: 40 %>
  </div>

  <div>
    <%= f.label :cname, t('.cname') %>:
    <%= f.text_field :cname, size: 40 %>
  </div>

  <div>
    <%= f.label :shopname, t('.shopname') %>:
    <%= f.text_field :shopname, size: 40 %>
  </div>

  <div>
    <%= f.label :sex, t('.sex') %>:
    <%= f.text_field :sex, size: 40 %>
  </div>

  <div>
    <%= f.label :address, t('.address') %>:
    <%= f.text_field :address, size: 40 %>
  </div>

  <div>
    <%= f.label :email, t('.email') %>:
    <%= f.text_field :email, size: 40 %>
  </div>

  <div>
    <%= f.label :qq, t('.qq') %>:
    <%= f.text_field :qq, size: 40 %>
  </div>

  <div>
    <%= f.label :tel, t('.tel') %>:
    <%= f.text_field :tel, size: 40 %>
  </div>

  <div>
    <%= f.label :state, t('.state') %>:
    <%= f.text_field :state, size: 40 %>
  </div>

  <div>
    <%= f.label :password, t('.password') %>:
    <%= f.text_field :password, size: 40 %>
  </div>

  <div>
    <%= f.label :password_confirmation, t('.confirm') %>:
    <%= f.text_field :password_confirmation, size: 40 %>
  </div>

  <div>
    <%= f.submit t('.submit') %>
  </div>

  </fieldset>
<% end %>

</div>
