<h1><%= t('.title') %></h1>
<br />


<!-- START_HIGHLIGHT -->
  <% if notice %>
  <p id="notice"><%= notice %></p>
  <% end %>
<!-- END_HIGHLIGHT -->

<table border="1">
  <tr>
    <th><%= t('.loginname') %></th>
    <th><%= t('.created_at') %></th>
    <th><%= t('.updated_at') %></th>
    <th colspan="3"><%= t('.opt') %></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.loginname %></td>
    <td><%= customer.created_at %></td>
    <td><%= customer.updated_at %></td>
    <td><%= link_to t('.show'), customer, :id => customer.id %></td>
    <td><%= link_to t('.edit'), edit_customer_path(customer) %></td>
  </tr>
<% end %>
</table>

