
  <fieldset>
  <legend><%= t('.show_customer') %></legend>

  <div>
    <%= label_tag :cid, t('.cid') %>:
    <%= @customer.cid %>
  </div>

  <div>
    <%= label_tag :loginname, t('.loginname') %>:
    <%= @customer.loginname %>
  </div>

  <div>
    <%= label_tag :cname, t('.cname') %>:
    <%= @customer.cname %>
  </div>

  <div>
    <%= label_tag :shopname, t('.shopname') %>:
    <%= @customer.shopname %>
  </div>

  <div>
    <%= label_tag :sex, t('.sex') %>:
    <%= @customer.sex %>
  </div>

  <div>
    <%= label_tag :address, t('.address') %>:
    <%= @customer.address %>
  </div>

  <div>
    <%= label_tag :email, t('.email') %>:
    <%= @customer.email %>
  </div>

  <div>
    <%= label_tag :qq, t('.qq') %>:
    <%= @customer.qq %>
  </div>

  <div>
    <%= label_tag :tel, t('.tel') %>:
    <%= @customer.tel %>
  </div>

  <div>
    <%= label_tag :state, t('.state') %>:
    <%= @customer.state %>
  </div>
</fieldset>

<%= link_to t('.edit'), edit_customer_path(@customer) %> |
