<p id="notice"><%= notice %></p>

<p>
  <b>Cid:</b>
  <%= @customer.cid %>
</p>

<p>
  <b>Loginname:</b>
  <%= @customer.loginname %>
</p>

<p>
  <b>Cname:</b>
  <%= @customer.cname %>
</p>

<p>
  <b>Shopname:</b>
  <%= @customer.shopname %>
</p>

<p>
  <b>Sex:</b>
  <%= @customer.sex %>
</p>

<p>
  <b>Address:</b>
  <%= @customer.address %>
</p>

<p>
  <b>Email:</b>
  <%= @customer.email %>
</p>

<p>
  <b>Qq:</b>
  <%= @customer.qq %>
</p>

<p>
  <b>Tel:</b>
  <%= @customer.tel %>
</p>

<p>
  <b>State:</b>
  <%= @customer.state %>
</p>

<p>
  <b>Cdate:</b>
  <%= @customer.cdate %>
</p>

<p>
  <b>Remark:</b>
  <%= @customer.remark %>
</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
