<p id="notice"><%= notice %></p>

<p>
  <b><%= t 'views.afterselldetails.index.stid' %>:</b>
  <%= @afterselldetail.stid %>
</p>

<p>
  <b><%= t 'views.afterselldetails.index.stname' %>:</b>
  <%= @afterselldetail.stname %>
</p>

<p>
  <b><%= t 'views.afterselldetails.index.tid' %>:</b>
  <%= @afterselldetail.tid %>
</p>

<p>
  <b><%= t 'views.afterselldetails.index.pid' %>:</b>
  <%= @afterselldetail.pid %>
</p>

<p>
  <b><%= t 'views.afterselldetails.index.barcode' %>:</b>
  <%= @afterselldetail.barcode %>
</p>

<p>
  <b><%= t 'views.afterselldetails.index.goodsname' %>:</b>
  <%= @afterselldetail.goodsname %>
</p>

<p>
  <b><%= t 'views.afterselldetails.index.size' %>:</b>
  <%= @afterselldetail.size %>
</p>

<p>
  <b><%= t 'views.afterselldetails.index.color' %>:</b>
  <%= @afterselldetail.color %>
</p>

<p>
  <b><%= t 'views.afterselldetails.index.volume' %>:</b>
  <%= @afterselldetail.volume %>
</p>

<p>
  <b><%= t 'views.afterselldetails.index.unit' %>:</b>
  <%= @afterselldetail.unit %>
</p>

<p>
  <b><%= t 'views.afterselldetails.index.inprice' %>:</b>
  <%= @afterselldetail.inprice %>
</p>

<p>
  <b><%= t 'views.afterselldetails.index.pfprice' %>:</b>
  <%= @afterselldetail.pfprice %>
</p>

<p>
  <b><%= t 'views.afterselldetails.index.hprice' %>:</b>
  <%= @afterselldetail.hprice %>
</p>

<p>
  <b><%= t 'views.afterselldetails.index.outprice' %>:</b>
  <%= @afterselldetail.outprice %>
</p>

<p>
  <b><%= t 'views.afterselldetails.index.amount' %>:</b>
  <%= @afterselldetail.amount %>
</p>

<p>
  <b><%= t 'views.afterselldetails.index.ramount' %>:</b>
  <%= @afterselldetail.ramount %>
</p>

<p>
  <b><%= t 'views.afterselldetails.index.bundle' %>:</b>
  <%= @afterselldetail.bundle %>
</p>

<p>
  <b><%= t 'views.afterselldetails.index.rbundle' %>:</b>
  <%= @afterselldetail.rbundle %>
</p>

<p>
  <b><%= t 'views.afterselldetails.index.discount' %>:</b>
  <%= @afterselldetail.discount %>
</p>

<p>
  <b><%= t 'views.afterselldetails.index.additional' %>:</b>
  <%= @afterselldetail.additional %>
</p>

<p>
  <b><%= t 'views.afterselldetails.index.dtype' %>:</b>
  <%= @afterselldetail.dtype %>
</p>

<p>
  <b><%= t 'views.afterselldetails.index.subtotal' %>:</b>
  <%= @afterselldetail.subtotal %>
</p>

<p>
  <b><%= t 'views.afterselldetails.index.status' %>:</b>
  <%= @afterselldetail.status %>
</p>

<p>
  <b><%= t 'views.afterselldetails.index.cdate' %>:</b>
  <%= @afterselldetail.cdate %>
</p>

<p>
  <b><%= t 'views.afterselldetails.index.remark' %>:</b>
  <%= @afterselldetail.remark %>
</p>


<%= link_to t('views.edit'), edit_afterselldetail_path(@afterselldetail) %> |
<%= link_to t('views.back'), afterselldetails_path %>
