<p id="notice"><%= notice %></p>

<p>
  <b>Stid:</b>
  <%= @afterselldetail.stid %>
</p>

<p>
  <b>Stname:</b>
  <%= @afterselldetail.stname %>
</p>

<p>
  <b>Tid:</b>
  <%= @afterselldetail.tid %>
</p>

<p>
  <b>Pid:</b>
  <%= @afterselldetail.pid %>
</p>

<p>
  <b>Barcode:</b>
  <%= @afterselldetail.barcode %>
</p>

<p>
  <b>Goodsname:</b>
  <%= @afterselldetail.goodsname %>
</p>

<p>
  <b>Size:</b>
  <%= @afterselldetail.size %>
</p>

<p>
  <b>Color:</b>
  <%= @afterselldetail.color %>
</p>

<p>
  <b>Volume:</b>
  <%= @afterselldetail.volume %>
</p>

<p>
  <b>Unit:</b>
  <%= @afterselldetail.unit %>
</p>

<p>
  <b>Inprice:</b>
  <%= @afterselldetail.inprice %>
</p>

<p>
  <b>Pfprice:</b>
  <%= @afterselldetail.pfprice %>
</p>

<p>
  <b>Hprice:</b>
  <%= @afterselldetail.hprice %>
</p>

<p>
  <b>Outprice:</b>
  <%= @afterselldetail.outprice %>
</p>

<p>
  <b>Amount:</b>
  <%= @afterselldetail.amount %>
</p>

<p>
  <b>Ramount:</b>
  <%= @afterselldetail.ramount %>
</p>

<p>
  <b>Bundle:</b>
  <%= @afterselldetail.bundle %>
</p>

<p>
  <b>Rbundle:</b>
  <%= @afterselldetail.rbundle %>
</p>

<p>
  <b>Discount:</b>
  <%= @afterselldetail.discount %>
</p>

<p>
  <b>Additional:</b>
  <%= @afterselldetail.additional %>
</p>

<p>
  <b>Type:</b>
  <%= @afterselldetail.type %>
</p>

<p>
  <b>Subtotal:</b>
  <%= @afterselldetail.subtotal %>
</p>

<p>
  <b>Status:</b>
  <%= @afterselldetail.status %>
</p>

<p>
  <b>Cdate:</b>
  <%= @afterselldetail.cdate %>
</p>

<p>
  <b>Remark:</b>
  <%= @afterselldetail.remark %>
</p>


<%= link_to t('views.edit'), edit_afterselldetail_path(@afterselldetail) %> |
<%= link_to t('views.back'), afterselldetails_path %>
