<h1><%= t 'views.delivertypes.index.listing_delivertypes' %></h1>

<table>
  <tr>
    <th><%= t 'views.delivertypes.index.additional' %></th>
    <th><%= t 'views.delivertypes.index.amount' %></th>
  </tr>

<% @delivertypes.each do |delivertype| %>
  <tr>
    <td><%= delivertype.additional %></td>
    <td><%= delivertype.amount %></td>
  </tr>
<% end %>
</table>
<br />
<%= paginate @delivertypes, :window => 2 %>
<br />

