<div class="bingdian_form">
<%= form_for @stock, :html => { :multipart => true } do |f| %>

    <fieldset>
  <legend><%= t('.input_stock_info') %></legend>
  <% if @stock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stock.errors.count, "error") %>
      prohibited this product from being saved:</h2>

      <ul>
      <% @stock.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= t('.pid') %>:
    <%= f.text_field :pid%>
  </div>
  <div class="field">
    <%= t('.goodsname') %>:<br />
<!-- START_HIGHLIGHT -->
    <%= f.text_area :goodsname, rows: 23, cols: 80  %>
<!-- END_HIGHLIGHT -->
  </div>
  <div class="field">
    <%= t('.picture') %>:
    <%= f.file_field :picture %>
  </div>
  <div class="field">
    <%= t('.pfprice') %>:
    <%= number_to_currency(f.text_field :pfprice) %>
  </div>
  <div class="actions">
    <%= f.submit t('.submit')%>
  </div>

    </fieldset>
<% end %>
</div>
