<h1><%= t('.title') %></h1>

<%= link_to t('.newStock'), new_stock_path %>
<br />

<table border="1">
<% @stocks.each do |product| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">

    <td>
      <%= image_tag(product.picture.url(:thumb), class: 'list_image') %>
    </td>

    <td class="list_description">
      <dl>
        <dt><%= product.pid %></dt>
        <dd><%= truncate(strip_tags(product.goodsname), length: 80) %></dd>
      </dl>
    </td>

    <td class="list_actions">
      <%= link_to t('.show'), product %><br/>
      <%= link_to t('.edit'), edit_stock_path(product) %><br/>
      <%= link_to t('.destroy'), product, method: :delete,
                  data: { confirm: t('.are_you_sure') } %>
    </td>
  </tr>
<% end %>

</table>

