<p id="notice"><%= notice %></p>

<p>
  <b>Stid:</b>
  <%= @stock.stid %>
</p>

<p>
  <b>Stname:</b>
  <%= @stock.stname %>
</p>

<p>
  <b>Pid:</b>
  <%= @stock.pid %>
</p>

<p>
  <b>Barcode:</b>
  <%= @stock.barcode %>
</p>

<p>
  <b>Goodsname:</b>
  <%= @stock.goodsname %>
</p>

<p>
  <b>Size:</b>
  <%= @stock.size %>
</p>

<p>
  <b>Color:</b>
  <%= @stock.color %>
</p>

<p>
  <b>Amount:</b>
  <%= @stock.amount %>
</p>

<p>
  <b>Volume:</b>
  <%= @stock.volume %>
</p>

<p>
  <b>Unit:</b>
  <%= @stock.unit %>
</p>

<p>
  <b>Inprice:</b>
  <%= @stock.inprice %>
</p>

<p>
  <b>Pfprice:</b>
  <%= @stock.pfprice %>
</p>

<p>
  <b>Bundle:</b>
  <%= @stock.bundle %>
</p>

<p>
  <b>Discount:</b>
  <%= @stock.discount %>
</p>

<p>
  <b>Baseline:</b>
  <%= @stock.baseline %>
</p>

<p>
  <b>Remark:</b>
  <%= @stock.remark %>
</p>


<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
