<h1><%= t('.show_stock') %></h1>

<p>
  <b><%= t('.pid') %>:</b>
  <%= @stock.pid %>
</p>

<p>
  <b><%= t('.goodsname') %>:</b>
  <%= @stock.goodsname%>
</p>

<p>
  <b><%= t('.picture') %>:</b>
  <%= image_tag @stock.picture.url(:medium) %>
</p>

<p>
  <b><%= t('.price') %>:</b>
  <%= number_to_currency(@stock.pfprice) %>
</p>


<%= link_to t('.edit'), edit_stock_path(@stock) %> |
<%= link_to t('.back'), stocks_path %>
