<p id="notice"><%= notice %></p>

<p>
  <b>Fid:</b>
  <%= @feeder.fid %>
</p>

<p>
  <b>Feedername:</b>
  <%= @feeder.feedername %>
</p>

<p>
  <b>Brand:</b>
  <%= @feeder.brand %>
</p>

<p>
  <b>Linkman:</b>
  <%= @feeder.linkman %>
</p>

<p>
  <b>Address:</b>
  <%= @feeder.address %>
</p>

<p>
  <b>Email:</b>
  <%= @feeder.email %>
</p>

<p>
  <b>Qq:</b>
  <%= @feeder.qq %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @feeder.zipcode %>
</p>

<p>
  <b>Tel:</b>
  <%= @feeder.tel %>
</p>

<p>
  <b>Fax:</b>
  <%= @feeder.fax %>
</p>

<p>
  <b>Cdate:</b>
  <%= @feeder.cdate %>
</p>

<p>
  <b>Remark:</b>
  <%= @feeder.remark %>
</p>


<%= link_to 'Edit', edit_feeder_path(@feeder) %> |
<%= link_to 'Back', feeders_path %>
