<h1><%= t 'views.profitproductions.index.listing_profitproductions' %></h1>

<table>
  <tr>
    <th><%= t 'views.profitproductions.index.pid' %></th>
    <th><%= t 'views.profitproductions.index.goodsname' %></th>
    <th><%= t 'views.profitproductions.index.color' %></th>
    <th><%= t 'views.profitproductions.index.profit' %></th>
  </tr>

<% @profitproductions.each do |profitproduction| %>
  <tr>
    <td><%= profitproduction.pid %></td>
    <td><%= profitproduction.goodsname %></td>
    <td><%= profitproduction.color %></td>
    <td><%= profitproduction.profit %></td>
  </tr>
<% end %>
</table>
<br />
<%= paginate @profitproductions, :window => 2 %>
<br />

