<p id="notice"><%= notice %></p>

<p>
  <b>Pid:</b>
  <%= @memberprice.pid %>
</p>

<p>
  <b>Barcode:</b>
  <%= @memberprice.barcode %>
</p>

<p>
  <b>Goodsname:</b>
  <%= @memberprice.goodsname %>
</p>

<p>
  <b>Size:</b>
  <%= @memberprice.size %>
</p>

<p>
  <b>Color:</b>
  <%= @memberprice.color %>
</p>

<p>
  <b>Volume:</b>
  <%= @memberprice.volume %>
</p>

<p>
  <b>Unit:</b>
  <%= @memberprice.unit %>
</p>

<p>
  <b>Custid:</b>
  <%= @memberprice.custid %>
</p>

<p>
  <b>Custname:</b>
  <%= @memberprice.custname %>
</p>

<p>
  <b>Custtel:</b>
  <%= @memberprice.custtel %>
</p>

<p>
  <b>Startdate:</b>
  <%= @memberprice.startdate %>
</p>

<p>
  <b>Enddate:</b>
  <%= @memberprice.enddate %>
</p>

<p>
  <b>Hprice:</b>
  <%= @memberprice.hprice %>
</p>

<p>
  <b>Cdate:</b>
  <%= @memberprice.cdate %>
</p>

<p>
  <b>Remark:</b>
  <%= @memberprice.remark %>
</p>


<%= link_to 'Edit', edit_memberprice_path(@memberprice) %> |
<%= link_to 'Back', memberprices_path %>
