<h1>Listing sellcostcustomers</h1>

<table>
  <tr>
    <th>Cname</th>
    <th>Tel</th>
    <th>Type</th>
    <th>Amount</th>
    <th>Unit</th>
  </tr>

<% @sellcostcustomers.each do |sellcostcustomer| %>
  <tr>
    <td><%= sellcostcustomer.cname %></td>
    <td><%= sellcostcustomer.tel %></td>
    <td><%= sellcostcustomer.type %></td>
    <td><%= sellcostcustomer.amount %></td>
    <td><%= sellcostcustomer.unit %></td>
  </tr>
<% end %>
</table>
<br />
<%= paginate @sellcostcustomers, :window => 2 %>
<br />

