<h1><%= t 'views.sellcostcustomers.index.listing_sellcostcustomers' %></h1>

<table>
  <tr>
    <th><%= t 'views.sellcostcustomers.index.cname' %></th>
    <th><%= t 'views.sellcostcustomers.index.tel' %></th>
    <th><%= t 'views.sellcostcustomers.index.type' %></th>
    <th><%= t 'views.sellcostcustomers.index.amount' %></th>
    <th><%= t 'views.sellcostcustomers.index.unit' %></th>
  </tr>

<% @sellcostcustomers.each do |sellcostcustomer| %>
  <tr>
    <td><%= sellcostcustomer.cname %></td>
    <td><%= sellcostcustomer.tel %></td>
    <td><%= sellcostcustomer.type %></td>
    <td><%= sellcostcustomer.amount %></td>
    <td><%= sellcostcustomer.unit %></td>
  </tr>
<% end %>
</table>
<br />
<%= paginate @sellcostcustomers, :window => 2 %>
<br />

