<h1>Listing profitshippers</h1>

<table>
  <tr>
    <th>Sname</th>
    <th>Tel</th>
    <th>Amount</th>
    <th>Volume</th>
    <th>Profit</th>
  </tr>

<% @profitshippers.each do |profitshipper| %>
  <tr>
    <td><%= profitshipper.sname %></td>
    <td><%= profitshipper.tel %></td>
    <td><%= profitshipper.amount %></td>
    <td><%= profitshipper.volume %></td>
    <td><%= profitshipper.profit %></td>
  </tr>
<% end %>
</table>
<br />
<%= paginate @profitshippers, :window => 2 %>
<br />

