<%= form_for(@selllogdetail) do |f| %>
  <% if @selllogdetail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@selllogdetail.errors.count, "error") %> prohibited this selllogdetail from being saved:</h2>

      <ul>
      <% @selllogdetail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t('views.selllogdetails.index.stid') %>:<br />
    <%= f.text_field :stid %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogdetails.index.stname') %>:<br />
    <%= f.text_field :stname %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogdetails.index.slid') %>:<br />
    <%= f.text_field :slid %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogdetails.index.store') %>:<br />
    <%= f.text_field :store %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogdetails.index.pid') %>:<br />
    <%= f.text_field :pid %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogdetails.index.barcode') %>:<br />
    <%= f.text_field :barcode %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogdetails.index.goodsname') %>:<br />
    <%= f.text_field :goodsname %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogdetails.index.size') %>:<br />
    <%= f.text_field :size %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogdetails.index.color') %>:<br />
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogdetails.index.volume') %>:<br />
    <%= f.text_field :volume %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogdetails.index.unit') %>:<br />
    <%= f.text_field :unit %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogdetails.index.inprice') %>:<br />
    <%= f.text_field :inprice %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogdetails.index.pfprice') %>:<br />
    <%= f.text_field :pfprice %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogdetails.index.hprice') %>:<br />
    <%= f.text_field :hprice %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogdetails.index.outprice') %>:<br />
    <%= f.text_field :outprice %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogdetails.index.amount') %>:<br />
    <%= f.number_field :amount %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogdetails.index.camount') %>:<br />
    <%= f.number_field :camount %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogdetails.index.bundle') %>:<br />
    <%= f.number_field :bundle %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogdetails.index.cbundle') %>:<br />
    <%= f.number_field :cbundle %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogdetails.index.discount') %>:<br />
    <%= f.number_field :discount %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogdetails.index.additional') %>:<br />
    <%= f.text_field :additional %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogdetails.index.dtype') %>:<br />
    <%= f.text_field :dtype %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogdetails.index.subtotal') %>:<br />
    <%= f.text_field :subtotal %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogdetails.index.status') %>:<br />
    <%= f.number_field :status %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogdetails.index.cdate') %>:<br />
    <%= f.date_select :cdate, :order => [:year,:month,:day] %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogdetails.index.pdate') %>:<br />
    <%= f.date_select :pdate, :order => [:year,:month,:day] %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogdetails.index.remark') %>:<br />
    <%= f.text_area :remark %>
  </div>
  <div class="actions">
    <%= f.submit t('views.submit') %>
  </div>
<% end %>
