<h1><%= t 'views.selllogdetails.index.listing_selllogdetails' %></h1>

<table>
  <tr>
    <th><%= t 'views.selllogdetails.index.stid' %></th>
    <th><%= t 'views.selllogdetails.index.stname' %></th>
    <th><%= t 'views.selllogdetails.index.slid' %></th>
    <th><%= t 'views.selllogdetails.index.store' %></th>
    <th><%= t 'views.selllogdetails.index.pid' %></th>
    <th><%= t 'views.selllogdetails.index.barcode' %></th>
    <th><%= t 'views.selllogdetails.index.goodsname' %></th>
    <th><%= t 'views.selllogdetails.index.size' %></th>
    <th><%= t 'views.selllogdetails.index.color' %></th>
    <th><%= t 'views.selllogdetails.index.volume' %></th>
    <th><%= t 'views.selllogdetails.index.unit' %></th>
    <th><%= t 'views.selllogdetails.index.inprice' %></th>
    <th><%= t 'views.selllogdetails.index.pfprice' %></th>
    <th><%= t 'views.selllogdetails.index.hprice' %></th>
    <th><%= t 'views.selllogdetails.index.outprice' %></th>
    <th><%= t 'views.selllogdetails.index.amount' %></th>
    <th><%= t 'views.selllogdetails.index.camount' %></th>
    <th><%= t 'views.selllogdetails.index.bundle' %></th>
    <th><%= t 'views.selllogdetails.index.cbundle' %></th>
    <th><%= t 'views.selllogdetails.index.discount' %></th>
    <th><%= t 'views.selllogdetails.index.additional' %></th>
    <th><%= t 'views.selllogdetails.index.dtype' %></th>
    <th><%= t 'views.selllogdetails.index.subtotal' %></th>
    <th><%= t 'views.selllogdetails.index.status' %></th>
    <th><%= t 'views.selllogdetails.index.cdate' %></th>
    <th><%= t 'views.selllogdetails.index.pdate' %></th>
    <th><%= t 'views.selllogdetails.index.remark' %></th>
    <th colspan="3"><%= t 'views.operation' %></th>
  </tr>

<% @selllogdetails.each do |selllogdetail| %>
  <tr>
    <td><%= selllogdetail.stid %></td>
    <td><%= selllogdetail.stname %></td>
    <td><%= selllogdetail.slid %></td>
    <td><%= selllogdetail.store %></td>
    <td><%= selllogdetail.pid %></td>
    <td><%= selllogdetail.barcode %></td>
    <td><%= selllogdetail.goodsname %></td>
    <td><%= selllogdetail.size %></td>
    <td><%= selllogdetail.color %></td>
    <td><%= selllogdetail.volume %></td>
    <td><%= selllogdetail.unit %></td>
    <td><%= selllogdetail.inprice %></td>
    <td><%= selllogdetail.pfprice %></td>
    <td><%= selllogdetail.hprice %></td>
    <td><%= selllogdetail.outprice %></td>
    <td><%= selllogdetail.amount %></td>
    <td><%= selllogdetail.camount %></td>
    <td><%= selllogdetail.bundle %></td>
    <td><%= selllogdetail.cbundle %></td>
    <td><%= selllogdetail.discount %></td>
    <td><%= selllogdetail.additional %></td>
    <td><%= selllogdetail.dtype %></td>
    <td><%= selllogdetail.subtotal %></td>
    <td><%= selllogdetail.status %></td>
    <td><%= selllogdetail.cdate %></td>
    <td><%= selllogdetail.pdate %></td>
    <td><%= selllogdetail.remark %></td>
    <td><%= link_to t('views.show'), selllogdetail %></td>
    <td><%= link_to t('views.edit'), edit_selllogdetail_path(selllogdetail) %></td>
    <td><%= link_to t('views.destroy'), selllogdetail, method: :delete, data: { confirm: t('views.are_you_sure') } %></td>
  </tr>
<% end %>
</table>

<br />
<%= paginate @selllogdetails, :window => 2 %>

<br />

<%= link_to t('views.selllogdetails.index.new_selllogdetails'), new_selllogdetail_path %>
