<p id="notice"><%= notice %></p>

<p>
  <b><%= t 'views.selllogdetails.index.stid' %>:</b>
  <%= @selllogdetail.stid %>
</p>

<p>
  <b><%= t 'views.selllogdetails.index.stname' %>:</b>
  <%= @selllogdetail.stname %>
</p>

<p>
  <b><%= t 'views.selllogdetails.index.slid' %>:</b>
  <%= @selllogdetail.slid %>
</p>

<p>
  <b><%= t 'views.selllogdetails.index.store' %>:</b>
  <%= @selllogdetail.store %>
</p>

<p>
  <b><%= t 'views.selllogdetails.index.pid' %>:</b>
  <%= @selllogdetail.pid %>
</p>

<p>
  <b><%= t 'views.selllogdetails.index.barcode' %>:</b>
  <%= @selllogdetail.barcode %>
</p>

<p>
  <b><%= t 'views.selllogdetails.index.goodsname' %>:</b>
  <%= @selllogdetail.goodsname %>
</p>

<p>
  <b><%= t 'views.selllogdetails.index.size' %>:</b>
  <%= @selllogdetail.size %>
</p>

<p>
  <b><%= t 'views.selllogdetails.index.color' %>:</b>
  <%= @selllogdetail.color %>
</p>

<p>
  <b><%= t 'views.selllogdetails.index.volume' %>:</b>
  <%= @selllogdetail.volume %>
</p>

<p>
  <b><%= t 'views.selllogdetails.index.unit' %>:</b>
  <%= @selllogdetail.unit %>
</p>

<p>
  <b><%= t 'views.selllogdetails.index.inprice' %>:</b>
  <%= @selllogdetail.inprice %>
</p>

<p>
  <b><%= t 'views.selllogdetails.index.pfprice' %>:</b>
  <%= @selllogdetail.pfprice %>
</p>

<p>
  <b><%= t 'views.selllogdetails.index.hprice' %>:</b>
  <%= @selllogdetail.hprice %>
</p>

<p>
  <b><%= t 'views.selllogdetails.index.outprice' %>:</b>
  <%= @selllogdetail.outprice %>
</p>

<p>
  <b><%= t 'views.selllogdetails.index.amount' %>:</b>
  <%= @selllogdetail.amount %>
</p>

<p>
  <b><%= t 'views.selllogdetails.index.camount' %>:</b>
  <%= @selllogdetail.camount %>
</p>

<p>
  <b><%= t 'views.selllogdetails.index.bundle' %>:</b>
  <%= @selllogdetail.bundle %>
</p>

<p>
  <b><%= t 'views.selllogdetails.index.cbundle' %>:</b>
  <%= @selllogdetail.cbundle %>
</p>

<p>
  <b><%= t 'views.selllogdetails.index.discount' %>:</b>
  <%= @selllogdetail.discount %>
</p>

<p>
  <b><%= t 'views.selllogdetails.index.additional' %>:</b>
  <%= @selllogdetail.additional %>
</p>

<p>
  <b><%= t 'views.selllogdetails.index.type' %>:</b>
  <%= @selllogdetail.type %>
</p>

<p>
  <b><%= t 'views.selllogdetails.index.subtotal' %>:</b>
  <%= @selllogdetail.subtotal %>
</p>

<p>
  <b><%= t 'views.selllogdetails.index.status' %>:</b>
  <%= @selllogdetail.status %>
</p>

<p>
  <b><%= t 'views.selllogdetails.index.cdate' %>:</b>
  <%= @selllogdetail.cdate %>
</p>

<p>
  <b><%= t 'views.selllogdetails.index.pdate' %>:</b>
  <%= @selllogdetail.pdate %>
</p>

<p>
  <b><%= t 'views.selllogdetails.index.remark' %>:</b>
  <%= @selllogdetail.remark %>
</p>


<%= link_to t('views.edit'), edit_selllogdetail_path(@selllogdetail) %> |
<%= link_to t('views.back'), selllogdetails_path %>
