<%= form_for(@mauth) do |f| %>
  <% if @mauth.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mauth.errors.count, "error") %> prohibited this mauth from being saved:</h2>

      <ul>
      <% @mauth.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t('views.mauths.index.uid') %>:<br />
    <%= f.text_field :uid %>
  </div>
  <div class="field">
    <%= f.label t('views.mauths.index.rid') %>:<br />
    <%= f.text_field :rid %>
  </div>
  <div class="field">
    <%= f.label t('views.mauths.index.mid') %>:<br />
    <%= f.text_field :mid %>
  </div>
  <div class="field">
    <%= f.label t('views.mauths.index.cdkey') %>:<br />
    <%= f.text_field :cdkey %>
  </div>
  <div class="field">
    <%= f.label t('views.mauths.index.result') %>:<br />
    <%= f.text_field :result %>
  </div>
  <div class="field">
    <%= f.label t('views.mauths.index.cdate') %>:<br />
    <%= f.date_select :cdate, :order => [:year,:month,:day] %>
  </div>
  <div class="field">
    <%= f.label t('views.mauths.index.remark') %>:<br />
    <%= f.text_area :remark %>
  </div>
  <div class="actions">
    <%= f.submit t('views.submit') %>
  </div>
<% end %>
