<p id="notice"><%= notice %></p>

<p>
  <b><%= t 'views.stores.index.uid' %>:</b>
  <%= @mauth.uid %>
</p>

<p>
  <b><%= t 'views.stores.index.rid' %>:</b>
  <%= @mauth.rid %>
</p>

<p>
  <b><%= t 'views.stores.index.mid' %>:</b>
  <%= @mauth.mid %>
</p>

<p>
  <b><%= t 'views.stores.index.cdkey' %>:</b>
  <%= @mauth.cdkey %>
</p>

<p>
  <b><%= t 'views.stores.index.result' %>:</b>
  <%= @mauth.result %>
</p>

<p>
  <b><%= t 'views.stores.index.cdate' %>:</b>
  <%= @mauth.cdate %>
</p>

<p>
  <b><%= t 'views.stores.index.remark' %>:</b>
  <%= @mauth.remark %>
</p>


<%= link_to t('views.edit'), edit_mauth_path(@mauth) %> |
<%= link_to t('views.back'), mauths_path %>
