
<p>
  <b><%= t('.oid') %>:</b>
  <%= @ordermain.oid %>
</p>

<p>
  <b><%= t('.status') %>:</b>
  <%= @ordermain.status %>
</p>

<p>
  <b><%= t('.canal') %>:</b>
  <%= @ordermain.canal %>
</p>

<p>
  <b><%= t('.payment') %>:</b>
  <%= @ordermain.payment %>
</p>

<p>----------------------------------------------------------------------------------------------------------------------------------------------</p>
<p>
  <b><%= t('.custname') %>:</b>
  <%= @ordermain.custname %>
</p>

<p>
  <b><%= t('.custtel') %>:</b>
  <%= @ordermain.custtel %>
</p>

<p>
  <b><%= t('.address_html') %>:</b>
  <%= @ordermain.custaddr %>
</p>

<p>----------------------------------------------------------------------------------------------------------------------------------------------</p>
<p>
  <b><%= t('.sname') %>:</b>
  <%= @ordermain.sname %>
</p>

<p>
  <b><%= t('.stel') %>:</b>
  <%= @ordermain.stel %>
</p>

<p>----------------------------------------------------------------------------------------------------------------------------------------------</p>
<p>
  <b><%= t('.uid') %>:</b>
  <%= @ordermain.uid %>
</p>

<p>
  <b><%= t('.uname') %>:</b>
  <%= @ordermain.uname%>
</p>

<p>----------------------------------------------------------------------------------------------------------------------------------------------</p>

<p>
  <b><%= t('.remark') %>:</b>
  <%= @ordermain.remark%>
</p>

<%= render "orderdetails/orderdetailcart" %>


<%= link_to t('.back'), ordermains_close_path %>
