<p id="notice"><%= notice %></p>

<p>
  <b><%= t 'views.purchases.index.cpbh' %>:</b>
  <%= @purchase.cpbh %>
</p>

<p>
  <b><%= t 'views.purchases.index.cpmc' %>:</b>
  <%= @purchase.cpmc %>
</p>

<p>
  <b><%= t 'views.purchases.index.ys' %>:</b>
  <%= @purchase.ys %>
</p>

<p>
  <b><%= t 'views.purchases.index.sl' %>:</b>
  <%= @purchase.sl %>
</p>

<p>
  <b><%= t 'views.purchases.index.js' %>:</b>
  <%= @purchase.js %>
</p>

<p>
  <b><%= t 'views.purchases.index.dj' %>:</b>
  <%= @purchase.dj %>
</p>

<p>
  <b><%= t 'views.purchases.index.yfbz' %>:</b>
  <%= @purchase.yfbz %>
</p>

<p>
  <b><%= t 'views.purchases.index.xj' %>:</b>
  <%= @purchase.xj %>
</p>

<p>
  <b><%= t 'views.purchases.index.tj' %>:</b>
  <%= @purchase.tj %>
</p>

<p>
  <b><%= t 'views.purchases.index.bz' %>:</b>
  <%= @purchase.bz %>
</p>

<p>
  <b><%= t 'views.purchases.index.cdate' %>:</b>
  <%= @purchase.cdate %>
</p>

<p>
  <b><%= t 'views.purchases.index.remark' %>:</b>
  <%= @purchase.remark %>
</p>


<%= link_to t('views.edit'), edit_purchase_path(@purchase) %> |
<%= link_to t('views.back'), purchases_path %>
