<p id="notice"><%= notice %></p>

<p>
  <b>Cpbh:</b>
  <%= @purchase.cpbh %>
</p>

<p>
  <b>Cpmc:</b>
  <%= @purchase.cpmc %>
</p>

<p>
  <b>Ys:</b>
  <%= @purchase.ys %>
</p>

<p>
  <b>Sl:</b>
  <%= @purchase.sl %>
</p>

<p>
  <b>Js:</b>
  <%= @purchase.js %>
</p>

<p>
  <b>Dj:</b>
  <%= @purchase.dj %>
</p>

<p>
  <b>Yfbz:</b>
  <%= @purchase.yfbz %>
</p>

<p>
  <b>Xj:</b>
  <%= @purchase.xj %>
</p>

<p>
  <b>Tj:</b>
  <%= @purchase.tj %>
</p>

<p>
  <b>Bz:</b>
  <%= @purchase.bz %>
</p>

<p>
  <b>Cdate:</b>
  <%= @purchase.cdate %>
</p>

<p>
  <b>Remark:</b>
  <%= @purchase.remark %>
</p>


<%= link_to t('views.edit'), edit_purchase_path(@purchase) %> |
<%= link_to t('views.back'), purchases_path %>
