<h1><%= t 'views.stocks.index.listing_stocks' %></h1>

<table>
  <tr>
    <th><%= t 'views.stocks.index.stid' %></th>
    <th><%= t 'views.stocks.index.stname' %></th>
    <th><%= t 'views.stocks.index.pid' %></th>
    <th><%= t 'views.stocks.index.barcode' %></th>
    <th><%= t 'views.stocks.index.goodsname' %></th>
    <th><%= t 'views.stocks.index.size' %></th>
    <th><%= t 'views.stocks.index.color' %></th>
    <th><%= t 'views.stocks.index.amount' %></th>
    <th><%= t 'views.stocks.index.volume' %></th>
    <th><%= t 'views.stocks.index.unit' %></th>
    <th><%= t 'views.stocks.index.inprice' %></th>
    <th><%= t 'views.stocks.index.pfprice' %></th>
    <th><%= t 'views.stocks.index.bundle' %></th>
    <th><%= t 'views.stocks.index.discount' %></th>
    <th><%= t 'views.stocks.index.baseline' %></th>
    <th><%= t 'views.stocks.index.remark' %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stocks.each do |stock| %>
  <tr>
    <td><%= stock.stid %></td>
    <td><%= stock.stname %></td>
    <td><%= stock.pid %></td>
    <td><%= stock.barcode %></td>
    <td><%= stock.goodsname %></td>
    <td><%= stock.size %></td>
    <td><%= stock.color %></td>
    <td><%= stock.amount %></td>
    <td><%= stock.volume %></td>
    <td><%= stock.unit %></td>
    <td><%= stock.inprice %></td>
    <td><%= stock.pfprice %></td>
    <td><%= stock.bundle %></td>
    <td><%= stock.discount %></td>
    <td><%= stock.baseline %></td>
    <td><%= stock.remark %></td>
    <td><%= link_to t('views.show'), stock %></td>
    <td><%= link_to t('views.edit'), edit_stock_path(stock) %></td>
    <td><%= link_to t('views.destroy'), stock, method: :delete, data: { confirm: t('views.are_you_sure') } %></td>
  </tr>
<% end %>
</table>

<br />
<%= paginate @stocks, :window => 2 %>

<br />

<%= link_to t('views.stocks.index.new_stocks'), new_stock_path %>
