<p id="notice"><%= notice %></p>

<p>
  <b>Stid:</b>
  <%= @selllogdetail.stid %>
</p>

<p>
  <b>Stname:</b>
  <%= @selllogdetail.stname %>
</p>

<p>
  <b>Slid:</b>
  <%= @selllogdetail.slid %>
</p>

<p>
  <b>Store:</b>
  <%= @selllogdetail.store %>
</p>

<p>
  <b>Pid:</b>
  <%= @selllogdetail.pid %>
</p>

<p>
  <b>Barcode:</b>
  <%= @selllogdetail.barcode %>
</p>

<p>
  <b>Goodsname:</b>
  <%= @selllogdetail.goodsname %>
</p>

<p>
  <b>Size:</b>
  <%= @selllogdetail.size %>
</p>

<p>
  <b>Color:</b>
  <%= @selllogdetail.color %>
</p>

<p>
  <b>Volume:</b>
  <%= @selllogdetail.volume %>
</p>

<p>
  <b>Unit:</b>
  <%= @selllogdetail.unit %>
</p>

<p>
  <b>Inprice:</b>
  <%= @selllogdetail.inprice %>
</p>

<p>
  <b>Pfprice:</b>
  <%= @selllogdetail.pfprice %>
</p>

<p>
  <b>Hprice:</b>
  <%= @selllogdetail.hprice %>
</p>

<p>
  <b>Outprice:</b>
  <%= @selllogdetail.outprice %>
</p>

<p>
  <b>Amount:</b>
  <%= @selllogdetail.amount %>
</p>

<p>
  <b>Camount:</b>
  <%= @selllogdetail.camount %>
</p>

<p>
  <b>Bundle:</b>
  <%= @selllogdetail.bundle %>
</p>

<p>
  <b>Cbundle:</b>
  <%= @selllogdetail.cbundle %>
</p>

<p>
  <b>Discount:</b>
  <%= @selllogdetail.discount %>
</p>

<p>
  <b>Additional:</b>
  <%= @selllogdetail.additional %>
</p>

<p>
  <b>Type:</b>
  <%= @selllogdetail.type %>
</p>

<p>
  <b>Subtotal:</b>
  <%= @selllogdetail.subtotal %>
</p>

<p>
  <b>Status:</b>
  <%= @selllogdetail.status %>
</p>

<p>
  <b>Cdate:</b>
  <%= @selllogdetail.cdate %>
</p>

<p>
  <b>Pdate:</b>
  <%= @selllogdetail.pdate %>
</p>

<p>
  <b>Remark:</b>
  <%= @selllogdetail.remark %>
</p>


<%= link_to 'Edit', edit_selllogdetail_path(@selllogdetail) %> |
<%= link_to 'Back', selllogdetails_path %>
