<h1>Listing statementdays</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Method</th>
    <th>Outmoney</th>
    <th>Inmoney</th>
    <th>Strike</th>
  </tr>

<% @statementdays.each do |statementday| %>
  <tr>
    <td><%= statementday.date %></td>
    <td><%= statementday.method %></td>
    <td><%= statementday.outmoney %></td>
    <td><%= statementday.inmoney %></td>
    <td><%= statementday.strike %></td>
  </tr>
<% end %>
</table>
<br />
<%= paginate @statementdays, :window => 2 %>
<br />

