<h1><%= t 'views.stockrepairs.index.listing_stockrepairs' %></h1>

<table>
  <tr>
    <th><%= t 'views.stockrepairs.index.pid' %></th>
    <th><%= t 'views.stockrepairs.index.goodsname' %></th>
    <th><%= t 'views.stockrepairs.index.color' %></th>
    <th><%= t 'views.stockrepairs.index.amount' %></th>
    <th><%= t 'views.stockrepairs.index.unit' %></th>
    <th><%= t 'views.stockrepairs.index.volume' %></th>
  </tr>

<% @stockrepairs.each do |stockrepair| %>
  <tr>
    <td><%= stockrepair.pid %></td>
    <td><%= stockrepair.goodsname %></td>
    <td><%= stockrepair.color %></td>
    <td><%= stockrepair.amount %></td>
    <td><%= stockrepair.unit %></td>
    <td><%= stockrepair.volume %></td>
  </tr>
<% end %>
</table>
<br />
<%= paginate @stockrepairs, :window => 2 %>
<br />

