<%= form_for(@selllogmain) do |f| %>
  <% if @selllogmain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@selllogmain.errors.count, "error") %> prohibited this selllogmain from being saved:</h2>

      <ul>
      <% @selllogmain.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t('views.selllogmains.index.stid') %>:<br />
    <%= f.text_field :stid %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogmains.index.stname') %>:<br />
    <%= f.text_field :stname %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogmains.index.slid') %>:<br />
    <%= f.text_field :slid %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogmains.index.custid') %>:<br />
    <%= f.text_field :custid %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogmains.index.custstate') %>:<br />
    <%= f.text_field :custstate %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogmains.index.custname') %>:<br />
    <%= f.text_field :custname %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogmains.index.shopname') %>:<br />
    <%= f.text_field :shopname %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogmains.index.custtel') %>:<br />
    <%= f.text_field :custtel %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogmains.index.custaddr') %>:<br />
    <%= f.text_field :custaddr %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogmains.index.yingshou') %>:<br />
    <%= f.text_field :yingshou %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogmains.index.shishou') %>:<br />
    <%= f.text_field :shishou %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogmains.index.shoukuan') %>:<br />
    <%= f.text_field :shoukuan %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogmains.index.zhaoling') %>:<br />
    <%= f.text_field :zhaoling %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogmains.index.aamount') %>:<br />
    <%= f.number_field :aamount %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogmains.index.avolume') %>:<br />
    <%= f.text_field :avolume %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogmains.index.sid') %>:<br />
    <%= f.text_field :sid %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogmains.index.sname') %>:<br />
    <%= f.text_field :sname %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogmains.index.stel') %>:<br />
    <%= f.text_field :stel %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogmains.index.saddress') %>:<br />
    <%= f.text_field :saddress %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogmains.index.payment') %>:<br />
    <%= f.text_field :payment %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogmains.index.status') %>:<br />
    <%= f.number_field :status %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogmains.index.uid') %>:<br />
    <%= f.text_field :uid %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogmains.index.uname') %>:<br />
    <%= f.text_field :uname %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogmains.index.preid') %>:<br />
    <%= f.text_field :preid %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogmains.index.nextid') %>:<br />
    <%= f.text_field :nextid %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogmains.index.type') %>:<br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogmains.index.cdate') %>:<br />
    <%= f.date_select :cdate %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogmains.index.pdate') %>:<br />
    <%= f.date_select :pdate %>
  </div>
  <div class="field">
    <%= f.label t('views.selllogmains.index.remark') %>:<br />
    <%= f.text_area :remark %>
  </div>
  <div class="actions">
    <%= f.submit t('views.submit') %>
  </div>
<% end %>
