<h1><%= t 'views.selllogmains.index.listing_selllogmains' %></h1>

<table>
  <tr>
    <th><%= t 'views.selllogmains.index.stid' %></th>
    <th><%= t 'views.selllogmains.index.stname' %></th>
    <th><%= t 'views.selllogmains.index.slid' %></th>
    <th><%= t 'views.selllogmains.index.custid' %></th>
    <th><%= t 'views.selllogmains.index.custstate' %></th>
    <th><%= t 'views.selllogmains.index.custname' %></th>
    <th><%= t 'views.selllogmains.index.shopname' %></th>
    <th><%= t 'views.selllogmains.index.custtel' %></th>
    <th><%= t 'views.selllogmains.index.custaddr' %></th>
    <th><%= t 'views.selllogmains.index.yingshou' %></th>
    <th><%= t 'views.selllogmains.index.shishou' %></th>
    <th><%= t 'views.selllogmains.index.shoukuan' %></th>
    <th><%= t 'views.selllogmains.index.zhaoling' %></th>
    <th><%= t 'views.selllogmains.index.aamount' %></th>
    <th><%= t 'views.selllogmains.index.avolume' %></th>
    <th><%= t 'views.selllogmains.index.sid' %></th>
    <th><%= t 'views.selllogmains.index.sname' %></th>
    <th><%= t 'views.selllogmains.index.stel' %></th>
    <th><%= t 'views.selllogmains.index.saddress' %></th>
    <th><%= t 'views.selllogmains.index.payment' %></th>
    <th><%= t 'views.selllogmains.index.status' %></th>
    <th><%= t 'views.selllogmains.index.uid' %></th>
    <th><%= t 'views.selllogmains.index.uname' %></th>
    <th><%= t 'views.selllogmains.index.preid' %></th>
    <th><%= t 'views.selllogmains.index.nextid' %></th>
    <th><%= t 'views.selllogmains.index.dtype' %></th>
    <th><%= t 'views.selllogmains.index.cdate' %></th>
    <th><%= t 'views.selllogmains.index.pdate' %></th>
    <th><%= t 'views.selllogmains.index.remark' %></th>
    <th colspan="3"><%= t 'views.operation' %></th>
  </tr>

<% @selllogmains.each do |selllogmain| %>
  <tr>
    <td><%= selllogmain.stid %></td>
    <td><%= selllogmain.stname %></td>
    <td><%= selllogmain.slid %></td>
    <td><%= selllogmain.custid %></td>
    <td><%= selllogmain.custstate %></td>
    <td><%= selllogmain.custname %></td>
    <td><%= selllogmain.shopname %></td>
    <td><%= selllogmain.custtel %></td>
    <td><%= selllogmain.custaddr %></td>
    <td><%= selllogmain.yingshou %></td>
    <td><%= selllogmain.shishou %></td>
    <td><%= selllogmain.shoukuan %></td>
    <td><%= selllogmain.zhaoling %></td>
    <td><%= selllogmain.aamount %></td>
    <td><%= selllogmain.avolume %></td>
    <td><%= selllogmain.sid %></td>
    <td><%= selllogmain.sname %></td>
    <td><%= selllogmain.stel %></td>
    <td><%= selllogmain.saddress %></td>
    <td><%= selllogmain.payment %></td>
    <td><%= selllogmain.status %></td>
    <td><%= selllogmain.uid %></td>
    <td><%= selllogmain.uname %></td>
    <td><%= selllogmain.preid %></td>
    <td><%= selllogmain.nextid %></td>
    <td><%= selllogmain.dtype %></td>
    <td><%= selllogmain.cdate %></td>
    <td><%= selllogmain.pdate %></td>
    <td><%= selllogmain.remark %></td>
    <td><%= link_to t('views.show'), selllogmain %></td>
    <td><%= link_to t('views.edit'), edit_selllogmain_path(selllogmain) %></td>
    <td><%= link_to t('views.destroy'), selllogmain, method: :delete, data: { confirm: t('views.are_you_sure') } %></td>
  </tr>
<% end %>
</table>
<br />
<%= paginate @selllogmains, :window => 2 %>

<br />

<%= link_to t('views.selllogmains.index.new_selllogmains'), new_selllogmain_path %>
