<p id="notice"><%= notice %></p>

<p>
  <b><%= t 'views.selllogmains.index.stid' %>:</b>
  <%= @selllogmain.stid %>
</p>

<p>
  <b><%= t 'views.selllogmains.index.stname' %>:</b>
  <%= @selllogmain.stname %>
</p>

<p>
  <b><%= t 'views.selllogmains.index.slid' %>:</b>
  <%= @selllogmain.slid %>
</p>

<p>
  <b><%= t 'views.selllogmains.index.custid' %>:</b>
  <%= @selllogmain.custid %>
</p>

<p>
  <b><%= t 'views.selllogmains.index.custstate' %>:</b>
  <%= @selllogmain.custstate %>
</p>

<p>
  <b><%= t 'views.selllogmains.index.custname' %>:</b>
  <%= @selllogmain.custname %>
</p>

<p>
  <b><%= t 'views.selllogmains.index.shopname' %>:</b>
  <%= @selllogmain.shopname %>
</p>

<p>
  <b><%= t 'views.selllogmains.index.custtel' %>:</b>
  <%= @selllogmain.custtel %>
</p>

<p>
  <b><%= t 'views.selllogmains.index.custaddr' %>:</b>
  <%= @selllogmain.custaddr %>
</p>

<p>
  <b><%= t 'views.selllogmains.index.yingshou' %>:</b>
  <%= @selllogmain.yingshou %>
</p>

<p>
  <b><%= t 'views.selllogmains.index.shishou' %>:</b>
  <%= @selllogmain.shishou %>
</p>

<p>
  <b><%= t 'views.selllogmains.index.shoukuan' %>:</b>
  <%= @selllogmain.shoukuan %>
</p>

<p>
  <b><%= t 'views.selllogmains.index.zhaoling' %>:</b>
  <%= @selllogmain.zhaoling %>
</p>

<p>
  <b><%= t 'views.selllogmains.index.aamount' %>:</b>
  <%= @selllogmain.aamount %>
</p>

<p>
  <b><%= t 'views.selllogmains.index.avolume' %>:</b>
  <%= @selllogmain.avolume %>
</p>

<p>
  <b><%= t 'views.selllogmains.index.sid' %>:</b>
  <%= @selllogmain.sid %>
</p>

<p>
  <b><%= t 'views.selllogmains.index.sname' %>:</b>
  <%= @selllogmain.sname %>
</p>

<p>
  <b><%= t 'views.selllogmains.index.stel' %>:</b>
  <%= @selllogmain.stel %>
</p>

<p>
  <b><%= t 'views.selllogmains.index.saddress' %>:</b>
  <%= @selllogmain.saddress %>
</p>

<p>
  <b><%= t 'views.selllogmains.index.payment' %>:</b>
  <%= @selllogmain.payment %>
</p>

<p>
  <b><%= t 'views.selllogmains.index.status' %>:</b>
  <%= @selllogmain.status %>
</p>

<p>
  <b><%= t 'views.selllogmains.index.uid' %>:</b>
  <%= @selllogmain.uid %>
</p>

<p>
  <b><%= t 'views.selllogmains.index.uname' %>:</b>
  <%= @selllogmain.uname %>
</p>

<p>
  <b><%= t 'views.selllogmains.index.preid' %>:</b>
  <%= @selllogmain.preid %>
</p>

<p>
  <b><%= t 'views.selllogmains.index.nextid' %>:</b>
  <%= @selllogmain.nextid %>
</p>

<p>
  <b><%= t 'views.selllogmains.index.type' %>:</b>
  <%= @selllogmain.type %>
</p>

<p>
  <b><%= t 'views.selllogmains.index.cdate' %>:</b>
  <%= @selllogmain.cdate %>
</p>

<p>
  <b><%= t 'views.selllogmains.index.pdate' %>:</b>
  <%= @selllogmain.pdate %>
</p>

<p>
  <b><%= t 'views.selllogmains.index.remark' %>:</b>
  <%= @selllogmain.remark %>
</p>


<%= link_to t('views.edit'), edit_selllogmain_path(@selllogmain) %> |
<%= link_to t('views.back'), selllogmains_path %>
